Repository astropy/astroquery, pull requests merged in 2018-06, with the labels that each got.

#1159 The future is now
  astroquery/query.py
Labels: no-changelog-entry-needed

#1165 Neither deploy nor remote tests should come up for PRs
  .travis.yml
Labels: infrastructure, no-changelog-entry-needed

#1166 Skip deployment if [nodeploy] is in commit message.
  .travis.yml
Labels: infrastructure, no-changelog-entry-needed

#1129 Better error msg
  astroquery/heasarc/core.py
Labels: heasarc, no-changelog-entry-needed

#1167 Don’t force users to use dev utils
  CHANGES
  astroquery/esasky/core.py
  astroquery/esasky/tests/test_esasky_remote.py
  docs/esasky/esasky.rst
Labels: esasky

#1171 Replace query_lines_async by query_lines in hitran docs
  docs/hitran/hitran.rst
Labels: Documentation, hitran, no-changelog-entry-needed
