Repository astropy/astroquery, pull requests merged in 2018-05, with the labels that each got.

#1126 STScI DSI-68: Expose direct HST S3 urls
  CHANGES
  astroquery/mast/core.py
Labels: mast

#1114 Conesearch validator to use new TAP registry service
  .travis.yml
  CHANGES
  astroquery/vo_conesearch/validator/__init__.py
  astroquery/vo_conesearch/validator/data/conesearch_urls.txt
  astroquery/vo_conesearch/validator/tests/data/conesearch_good.json
  astroquery/vo_conesearch/validator/tests/data/listcats1.out
  astroquery/vo_conesearch/validator/tests/data/listcats2.out
  astroquery/vo_conesearch/validator/tests/data/printcat.out
  astroquery/vo_conesearch/validator/tests/data/vao_conesearch_sites_121107_subset.xml
  astroquery/vo_conesearch/validator/tests/test_validate.py
  astroquery/vo_conesearch/validator/tstquery.py
  astroquery/vo_conesearch/validator/validate.py
  astroquery/vo_conesearch/vos_catalog.py
  docs/vo_conesearch/client.rst
  docs/vo_conesearch/validator.rst
Labels: vo_conesearch

#1130 Remote test fixes
  .gitignore
  astroquery/alma/tests/test_alma_remote.py
  astroquery/alma/utils.py
  astroquery/eso/tests/test_eso_remote.py
  astroquery/mast/tests/test_mast_remote.py
  astroquery/oac/tests/test_oac_remote.py
  astroquery/skyview/core.py
  astroquery/skyview/setup_package.py
  astroquery/skyview/tests/data/survey_dict.json
  astroquery/skyview/tests/data/survey_dict.txt
  astroquery/skyview/tests/test_skyview_remote.py
Labels: changed remote API, no-changelog-entry-needed

#1137 XMatch: need longer timeout
  astroquery/xmatch/__init__.py
Labels: xmatch

#1139 Move remote tests last stage
  .travis.yml
  astroquery/xmatch/tests/test_xmatch_remote.py
Labels: infrastructure, no-changelog-entry-needed, testing

#1140 Hyperlink DOIs against preferred resolver
  CITATION
  README.rst
Labels: no-changelog-entry-needed

#1141 Skipping slow eso tests and minor cleanup
  .travis.yml
  astroquery/alma/tests/test_alma_remote.py
  astroquery/cosmosim/tests/test_cosmosim_remote.py
  astroquery/eso/tests/test_eso_remote.py
  astroquery/lcogt/tests/test_lcogt_remote.py
Labels: eso, no-changelog-entry-needed

#1148 Doc fix: PsAMV from Horizons is the negative velocity vector.
  astroquery/jplhorizons/core.py
Labels: Documentation, jplhorizons, no-changelog-entry-needed
