Repository astropy/astroquery, pull requests merged in 2018-10, with the labels that each got.

#1248 Add the MOC Service module to the README.rst
  README.rst
Labels: Documentation, no-changelog-entry-needed

#1252 Change internal order of coordinate resolution in parse_coordinates
  CHANGES
  astroquery/utils/commons.py
  astroquery/utils/tests/test_utils.py
Labels: bug, utils

#1255 Clean get/set and improve readability of Gaia tap modules
  astroquery/gaia/tests/test_gaiatap.py
  astroquery/utils/tap/core.py
  astroquery/utils/tap/model/filter.py
  astroquery/utils/tap/model/job.py
  astroquery/utils/tap/model/tapcolumn.py
  astroquery/utils/tap/model/taptable.py
  astroquery/utils/tap/model/tests/test_column.py
  astroquery/utils/tap/model/tests/test_filter.py
  astroquery/utils/tap/model/tests/test_job.py
  astroquery/utils/tap/model/tests/test_table.py
  astroquery/utils/tap/tests/test_tap.py
  astroquery/utils/tap/xmlparser/jobListSaxParser.py
  astroquery/utils/tap/xmlparser/jobSaxParser.py
  astroquery/utils/tap/xmlparser/tableSaxParser.py
  astroquery/utils/tap/xmlparser/tests/test_xmlparser.py
Labels: utils.tap
