Repository astropy/astroquery, pull requests merged in 2018-03, with the labels that each got.

#1053 Adding Open Astronomy Catalog API Support
  CHANGES
  README.rst
  astroquery/oac/__init__.py
  astroquery/oac/core.py
  astroquery/oac/tests/__init__.py
  astroquery/oac/tests/setup_package.py
  astroquery/oac/tests/test_oac_remote.py
  docs/index.rst
  docs/oac/oac.rst
Labels: New Service

#1049 Mast catalog
  CHANGES
  astroquery/mast/__init__.py
  astroquery/mast/core.py
  astroquery/mast/tests/data/dd.json
  astroquery/mast/tests/data/ddcolumns.json
  astroquery/mast/tests/data/hsc.json
  astroquery/mast/tests/data/matchid.json
  astroquery/mast/tests/data/spectra.json
  astroquery/mast/tests/data/tic.json
  astroquery/mast/tests/data/ticcolumns.json
  astroquery/mast/tests/test_mast.py
  astroquery/mast/tests/test_mast_remote.py
  docs/index.rst
  docs/mast/mast.rst
Labels: mast

#1071 Make gaia doc idioms a bit more consistent with astropy
  docs/gaia/gaia.rst
Labels: Documentation, no-changelog-entry-needed

#1064 Added module for Minor Planet Center
  CHANGES
  astroquery/astroquery.cfg
  astroquery/mpc/__init__.py
  astroquery/mpc/core.py
  astroquery/mpc/tests/__init__.py
  astroquery/mpc/tests/test_mpc.py
  astroquery/mpc/tests/test_mpc_remote.py
  docs/index.rst
  docs/mpc/mpc.rst
Labels: New Service, mpc

#1076 Switch splatalogue to https
  CHANGES
  astroquery/splatalogue/__init__.py
  astroquery/splatalogue/build_species_table.py
  astroquery/splatalogue/core.py
  astroquery/splatalogue/tests/test_splatalogue.py
  astroquery/splatalogue/tests/test_utils.py
  docs/splatalogue/splatalogue.rst
Labels: splatalogue

#1083 Adding references to Linux packages in docs
  docs/index.rst
Labels: Documentation, no-changelog-entry-needed
