Repository astropy/astroquery, pull requests merged in 2018-07, with the labels that each got.

#1181 Remove dot that get stucked with the url
  astroquery/eso/core.py
Labels: eso, no-changelog-entry-needed

#1187 Fix several bugs in atomic
  CHANGES
  astroquery/atomic/core.py
  astroquery/atomic/tests/test_atomic_remote.py
Labels: atomic, bug

#1183 Allow downloading of all columns in the NASA Exoplanet Archive
  CHANGES
  astroquery/nasa_exoplanet_archive/nasa_exoplanet_archive.py
  astroquery/nasa_exoplanet_archive/tests/test_nasa_exoplanet_archive_remote.py
Labels: nasa_exoplanet_archive

#1156 Updating install instructions
  docs/index.rst
Labels: Documentation, no-changelog-entry-needed

#1161 GAIA: "Fix" units with .'s and quotes in them
  astroquery/utils/tap/model/modelutils.py
  astroquery/utils/tap/xmlparser/utils.py
Labels: gaia

#1185 vo_conesearch: Renamed async to vo_async as async is reserved keyword
  astroquery/vo_conesearch/conesearch.py
  astroquery/vo_conesearch/vo_async.py
  docs/vo_conesearch/vo_conesearch.rst
Labels: no-changelog-entry-needed, vo_conesearch

#1188 Silence download progress bar according to log level
  CHANGES
  astroquery/query.py
Labels: infrastructure

#1193 fix jplhorizons queries (fixes #1192)
  astroquery/jplhorizons/__init__.py
Labels: bug, jplhorizons

#1169 ESASky: check whether response is valid
  astroquery/esasky/core.py
Labels: esasky, no-changelog-entry-needed

#1198 Catch exception on login when keyring fails to get a valid storage
  CHANGES
  astroquery/eso/core.py
Labels: eso

#1170 New module for JPL Spectroscopy Catalog
  CHANGES
  astroquery/jplspec/__init__.py
  astroquery/jplspec/core.py
  astroquery/jplspec/data/catdir.cat
  astroquery/jplspec/lookup_table.py
  astroquery/jplspec/setup_package.py
  astroquery/jplspec/tests/__init__.py
  astroquery/jplspec/tests/data/CO.data
  astroquery/jplspec/tests/data/CO_6.data
  astroquery/jplspec/tests/data/multi.data
  astroquery/jplspec/tests/test_jplspec.py
  astroquery/jplspec/tests/test_jplspec_remote.py
  docs/index.rst
  docs/jplspec/images/docplot_curvefit.png
  docs/jplspec/images/docplot_jplspec.png
  docs/jplspec/jplspec.rst
Labels: New Service, jplspec

#1206 py2->py3 in docs of skyview
  astroquery/skyview/core.py
  docs/skyview/skyview.rst
Labels: Documentation, no-changelog-entry-needed, skyview

#1184 Retrieve calibrations associated to ESO data
  CHANGES
  astroquery/eso/core.py
Labels: eso

#1210 Add test for Eso calibration data retrieval
  astroquery/eso/core.py
  astroquery/eso/tests/test_eso_remote.py
Labels: eso, no-changelog-entry-needed, testing

#1111 Cds
  .travis.yml
  CHANGES
  appveyor.yml
  astroquery/cds/__init__.py
  astroquery/cds/core.py
  astroquery/cds/tests/__init__.py
  astroquery/cds/tests/data/hips_from_saada_alasky.json
  astroquery/cds/tests/data/moc.fits
  astroquery/cds/tests/data/moc2.fits
  astroquery/cds/tests/data/properties.json
  astroquery/cds/tests/setup_package.py
  astroquery/cds/tests/test_mocserver.py
  astroquery/cds/tests/test_mocserver_remote.py
  docs/cds/HST_union.png
  docs/cds/MOC_GALEXGR6_AIS_FUV.png
  docs/cds/cds.rst
  docs/conf.py
  docs/index.rst
Labels: New Service, cds

#1213 Show progress for files downloading (ESO)
  astroquery/eso/core.py
Labels: eso, no-changelog-entry-needed
