Repository astropy/astroquery, pull requests merged in 2018-04, with the labels that each got.

#1078 Add a new example to the Gallery for the paper
  docs/gallery.rst
Labels: Documentation, no-changelog-entry-needed

#1093 tap: Print only if verbose is True when launching job
  astroquery/utils/tap/core.py
Labels: utils.tap

#1095 Keep module lists in sync [skip ci]
  README.rst
  docs/index.rst
Labels: Documentation

#1102 MNT: Update Vizier URLs for vo_conesearch
  astroquery/vo_conesearch/validator/data/conesearch_urls.txt
Labels: no-changelog-entry-needed, vo_conesearch

#1073 Add option to update phase for background jobs
  astroquery/utils/tap/model/job.py
Labels: utils.tap

#1103 Limit keyring version for legacy Python
  .travis.yml
  appveyor.yml
Labels: no-changelog-entry-needed, testing

#1112 Allow the GAIA parameters to be configured
  CHANGES
  astroquery/gaia/__init__.py
  astroquery/gaia/core.py
Labels: gaia

#1040 STScIDSI-31: Enable downloading MAST HST data from S3
  astroquery/mast/core.py
Labels: mast

#1119 Add strip to remove '\n' kept by readline
  astroquery/utils/tap/core.py
Labels: bug, no-changelog-entry-needed, utils.tap

#1120 Adding citation file with bibtex, and update readme
  CITATION
  MANIFEST.in
  README.rst
Labels: Documentation, no-changelog-entry-needed

#984 Refactor UKIDSS -> WFAU and add VSA
  CHANGES
  astroquery/ukidss/core.py
  astroquery/ukidss/tests/test_ukidss.py
  astroquery/ukidss/tests/test_ukidss_remote.py
  astroquery/vsa/__init__.py
  astroquery/vsa/core.py
  astroquery/vsa/tests/__init__.py
  astroquery/vsa/tests/test_vista_remote.py
  astroquery/wfau/__init__.py
  astroquery/wfau/core.py
  docs/index.rst
  docs/ukidss/ukidss.rst
  docs/vsa/vsa.rst
  docs/wfau/wfau.rst
Labels: New Service, ukidss, vsa, wfau
