Repository astropy/astroquery, pull requests merged in 2018-12, with the labels that each got.

#1284 Fix airmass column issues with jplhorizons.
  CHANGES
  astroquery/jplhorizons/core.py
  astroquery/jplhorizons/tests/test_jplhorizons_remote.py
Labels: bug, jplhorizons

#1300 TST: Attempt to fix segfault with pytest 4
  .travis.yml
  astroquery/_astropy_init.py
Labels: infrastructure, no-changelog-entry-needed

#1296 Added selcols keyword to astroquery.irsa
  astroquery/irsa/core.py
  docs/irsa/irsa.rst
Labels: irsa

#1270 Clarifying pip install instructions
  CHANGES
  docs/index.rst
Labels: Documentation

#1303 issue 1296 broke this test; fix it
  astroquery/irsa/tests/test_irsa.py
Labels: irsa, merge-when-ci-passes, no-changelog-entry-needed

#1297 astroquery.mast TESS input catalog fix
  CHANGES
  astroquery/mast/core.py
  astroquery/mast/tesscut.py
  astroquery/mast/tests/test_mast.py
  astroquery/mast/tests/test_mast_remote.py
Labels: mast, merge-when-ci-passes

#1301 Fix MAST Cloud functions
  astroquery/mast/core.py
Labels: mast, merge-when-ci-passes, no-changelog-entry-needed

#1304 Fix way of docstring referencing to be complient with new sphinx
  astroquery/atomic/core.py
Labels: Documentation, merge-when-ci-passes, no-changelog-entry-needed

#1305 Cleaning up changelog pre 0.3.9
  CHANGES
Labels: no-changelog-entry-needed

#1312 Stop pep8 warning us about warning 504
  .pep8speaks.yml
Labels: no-changelog-entry-needed, testing

#1311 ALMA footprint parsing fix
  astroquery/alma/utils.py
Labels: alma, no-changelog-entry-needed

#1316 Added access to member_ouss_id
  astroquery/alma/core.py
  astroquery/alma/tests/test_alma_remote.py
Labels: alma
