Repository astropy/astroquery, pull requests merged in 2019-01, with the labels that each got.

#1318 Make the `all_columns` parameter work for `query_planet`.
  astroquery/nasa_exoplanet_archive/nasa_exoplanet_archive.py
  astroquery/nasa_exoplanet_archive/tests/test_nasa_exoplanet_archive_remote.py
Labels: nasa_exoplanet_archive, no-changelog-entry-needed

#1323 Print astropy_helpers version in testing header
  astroquery/conftest.py
Labels: infrastructure, no-changelog-entry-needed

#1334 Overhauling travis matrix
  .travis.yml
  README.rst
  appveyor.yml
  astroquery/conftest.py
  pip-requirements
  setup.py
Labels: infrastructure, merge-when-ci-passes, no-changelog-entry-needed, testing

#1341 In ESO, also unzip .Z files.
  astroquery/eso/core.py
Labels: eso, merge-when-ci-passes, no-changelog-entry-needed

#1313 Document how to change IRSA column precisions
  docs/irsa/irsa.rst
Labels: irsa, merge-when-ci-passes, no-changelog-entry-needed

#1337 Fix 1336 adsfields: "citations" should be "citation"
  CHANGES
  astroquery/nasa_ads/__init__.py
  astroquery/nasa_ads/tests/data/test_text.txt
  astroquery/nasa_ads/tests/test_nasaads.py
Labels: bug, merge-when-ci-passes, nasa_ads

#1338 Fix for issue 1327: HEASARC errors too aggressive
  CHANGES
  astroquery/heasarc/core.py
Labels: bug, heasarc, merge-when-ci-passes

#1331 Fix crash with beautifulsoup 4.7+
  astroquery/eso/core.py
Labels: eso, infrastructure, no-changelog-entry-needed

#1330 Package-template update: _astropy_init.py
  astroquery/_astropy_init.py
Labels: infrastructure, merge-when-ci-passes, no-changelog-entry-needed

#1328 Fix catalog parsing in `Vizier._args_to_payload`
  astroquery/vizier/core.py
  astroquery/vizier/tests/test_vizier.py
Labels: bug, merge-when-ci-passes, vizier

#1333 bugfixes for jplhorizons and jplsbdb
  CHANGES
  README.rst
  astroquery/jplhorizons/core.py
  astroquery/jplhorizons/tests/data/no_H.txt
  astroquery/jplhorizons/tests/test_jplhorizons.py
  astroquery/jplsbdb/core.py
  astroquery/jplsbdb/tests/data/ceres_missing_value.dat
  astroquery/jplsbdb/tests/test_jplsbdb.py
  docs/jplhorizons/jplhorizons.rst
Labels: bug, jplhorizons, merge-when-ci-passes

#1283 NRAO: Fix case handling in parameter validation
  .pep8speaks.yml
  astroquery/nrao/core.py
  astroquery/nrao/tests/test_nrao.py
Labels: bug, merge-when-ci-passes, nrao

#1343 Apply mocpy 0.5.* API changes
  .travis.yml
  CHANGES
  appveyor.yml
  astroquery/cds/core.py
  docs/index.rst
Labels: cds

#1347 Workaround pip v19 issues
  .gitignore
  setup.py
Labels: infrastructure, merge-when-ci-passes, no-changelog-entry-needed

#1308 [WIP] Update SDSS module to SDSS-IV URLs
  .travis.yml
  CHANGES
  astroquery/sdss/__init__.py
  astroquery/sdss/core.py
  astroquery/sdss/field_names.py
  astroquery/sdss/tests/test_sdss.py
  astroquery/sdss/tests/test_sdss_remote.py
  docs/sdss/sdss.rst
Labels: merge-when-ci-passes, sdss
