Repository astropy/astroquery, pull requests merged in 2019-12, with the labels that each got.

#1588 Removing imp usage
  astroquery/irsa/tests/test_irsa_remote.py
  astroquery/irsa_dust/tests/test_irsa_dust_remote.py
  astroquery/lamda/tests/test_lamda_remote.py
  astroquery/lcogt/tests/test_lcogt_remote.py
  astroquery/magpis/tests/test_magpis_remote.py
  astroquery/ned/tests/test_ned_remote.py
  astroquery/nrao/tests/test_nrao_remote.py
  astroquery/nvas/tests/test_nvas_remote.py
  astroquery/simbad/tests/test_simbad_remote.py
  astroquery/ukidss/tests/test_ukidss_remote.py
  astroquery/vizier/tests/test_vizier_remote.py
  astroquery/vsa/tests/test_vista_remote.py
Labels: infrastructure, irsa, lamda, magpis, ned, no-changelog-entry-needed, nrao, simbad, ukidss, vizier, vsa

#1592 Temporarily factor out MockResponse from pytest dependent file
  astroquery/sdss/field_names.py
  astroquery/utils/mocks.py
  astroquery/utils/testing_tools.py
Labels: Affects-dev, bug, sdss, testing, utils

#1587 Adding little note for when files retrieved are empty
  astroquery/utils/commons.py
Labels: no-changelog-entry-needed, utils

#1600 add "only astronomically observed" option to splatalogue
  CHANGES.rst
  astroquery/splatalogue/core.py
Labels: splatalogue

#1548 GAIA: Add optional 'columns' parameter to select specific columns.
  astroquery/gaia/core.py
  astroquery/gaia/tests/DummyTapHandler.py
Labels: gaia

#1602 Add documentation for simbad typed_id
  docs/simbad/simbad.rst
Labels: Documentation, no-changelog-entry-needed, simbad

#1528 vo_conesearch API changes
  CHANGES.rst
  astroquery/vo_conesearch/__init__.py
  astroquery/vo_conesearch/conesearch.py
  astroquery/vo_conesearch/core.py
  astroquery/vo_conesearch/exceptions.py
  astroquery/vo_conesearch/tests/test_conesearch.py
  astroquery/vo_conesearch/tests/test_vos_catalog.py
  astroquery/vo_conesearch/validator/__init__.py
  astroquery/vo_conesearch/validator/exceptions.py
  astroquery/vo_conesearch/validator/inspect.py
  astroquery/vo_conesearch/validator/tests/test_inpect.py
  astroquery/vo_conesearch/validator/tests/test_validate.py
  astroquery/vo_conesearch/validator/tstquery.py
  astroquery/vo_conesearch/validator/validate.py
  astroquery/vo_conesearch/vo_async.py
  astroquery/vo_conesearch/vos_catalog.py
  docs/vo_conesearch/client.rst
  docs/vo_conesearch/images/client_predict_search_n.png
  docs/vo_conesearch/images/client_predict_search_t.png
  docs/vo_conesearch/validator.rst
  docs/vo_conesearch/vo_conesearch.rst
Labels: refactor, vo_conesearch

#1603 fix mocks in utils testing
  astroquery/utils/tests/test_utils.py
Labels: no-changelog-entry-needed, utils

#1596 Initial gemini archive support
  CHANGES.rst
  README.rst
  astroquery/gemini/__init__.py
  astroquery/gemini/core.py
  astroquery/gemini/tests/__init__.py
  astroquery/gemini/tests/data/m101.json
  astroquery/gemini/tests/setup_package.py
  astroquery/gemini/tests/test_gemini.py
  astroquery/gemini/urlhelper.py
  docs/gemini/gemini.rst
  docs/index.rst
Labels: New Service

#1606 Provide for a cleaner API for querying NASA archive
  .gitignore
  CHANGES.rst
  astroquery/nasa_exoplanet_archive/nasa_exoplanet_archive.py
  astroquery/nasa_exoplanet_archive/tests/data/nasa_exoplanet_archive.csv
  astroquery/nasa_exoplanet_archive/tests/test_nasa_exoplanet_archive_remote.py
Labels: nasa_exoplanet_archive
