Repository astropy/astroquery, pull requests merged in 2019-03, with the labels that each got.

#1359 Fix for issue 1355
  CHANGES
  astroquery/nist/core.py
  astroquery/nist/tests/data/nist_out.html
  astroquery/nist/tests/test_nist_remote.py
  docs/nist/nist.rst
Labels: nist

#1352 Update and expand `contributing` guidelines
  CONTRIBUTING.rst
  astroquery/query.py
Labels: Documentation, no-changelog-entry-needed

#1366 astroquery.mast: Update for deprecated obstype keyword
  CHANGES
  astroquery/exceptions.py
  astroquery/mast/core.py
  astroquery/mast/tests/data/columnsconfig.json
  astroquery/mast/tests/test_mast.py
  astroquery/mast/tests/test_mast_remote.py
  docs/mast/mast.rst
Labels: mast

#1390 The deploy job should not even come up for cron runs
  .travis.yml
Labels: infrastructure, no-changelog-entry-needed, testing

#1335 Add refplane kwarg + documentation to jpl horizons vectors_async method
  CHANGES
  astroquery/jplhorizons/core.py
Labels: jplhorizons

#1369 Fix for #1340: add new VOT hacks for ALMA
  CHANGES
  astroquery/alma/core.py
  astroquery/alma/tests/data/etacar_query.xml
  astroquery/alma/tests/data/ngc4945.xml
  astroquery/alma/tests/data/sgra_query.xml
  astroquery/alma/tests/test_alma.py
  astroquery/alma/tests/test_alma_remote.py
Labels: Upstream, alma, bug
