Repository astropy/astroquery, pull requests merged in 2019-06, with the labels that each got.

#1353 New Service: IMCCE - Miriade ephemerides and Skybot small-body identifier
  CHANGES
  astroquery/imcce/__init__.py
  astroquery/imcce/core.py
  astroquery/imcce/tests/__init__.py
  astroquery/imcce/tests/data/3552_coordtype1.dat
  astroquery/imcce/tests/data/3552_coordtype2.dat
  astroquery/imcce/tests/data/3552_coordtype3.dat
  astroquery/imcce/tests/data/3552_coordtype4.dat
  astroquery/imcce/tests/data/3552_coordtype5.dat
  astroquery/imcce/tests/data/3552_coordtype6.dat
  astroquery/imcce/tests/data/skybot_query.dat
  astroquery/imcce/tests/setup_package.py
  astroquery/imcce/tests/test_miriade.py
  astroquery/imcce/tests/test_miriade_remote.py
  astroquery/imcce/tests/test_skybot.py
  astroquery/imcce/tests/test_skybot_remote.py
  astroquery/solarsystem/__init__.py
  astroquery/solarsystem/imcce/__init__.py
  astroquery/solarsystem/imcce/miriade/__init__.py
  astroquery/solarsystem/imcce/skybot/__init__.py
  astroquery/solarsystem/jpl/__init__.py
  docs/imcce/imcce.rst
  docs/index.rst
  docs/solarsystem/imcce/imcce.rst
  docs/solarsystem/solarsystem.rst
Labels: New Service

#1452 Add another link to the SBDB API docs
  docs/jplsbdb/jplsbdb.rst
Labels: Documentation, jplsbdb, merge-when-ci-passes, no-changelog-entry-needed

#1350 New functionality for astroquery.mpc
  CHANGES
  astroquery/mpc/__init__.py
  astroquery/mpc/core.py
  astroquery/mpc/setup_package.py
  astroquery/mpc/tests/data/mpc_obs.dat
  astroquery/mpc/tests/test_mpc.py
  astroquery/mpc/tests/test_mpc_remote.py
  astroquery/solarsystem/__init__.py
  astroquery/solarsystem/mpc/__init__.py
  docs/mpc/mpc.rst
  docs/solarsystem/mpc/mpc.rst
  docs/solarsystem/solarsystem.rst
Labels: mpc

#1373 Adding service for accessing ESA hubble data
  CHANGES
  astroquery/esa_hubble/__init__.py
  astroquery/esa_hubble/core.py
  astroquery/esa_hubble/tests/__init__.py
  astroquery/esa_hubble/tests/data/F05I0602M.tar
  astroquery/esa_hubble/tests/data/J6FL25S4Q.tar
  astroquery/esa_hubble/tests/data/O5HKAX030_FLT.FITS
  astroquery/esa_hubble/tests/data/X0MC5101T.tar
  astroquery/esa_hubble/tests/data/cone.vot
  astroquery/esa_hubble/tests/data/metadata.xml
  astroquery/esa_hubble/tests/data/region.xml
  astroquery/esa_hubble/tests/data/target.xml
  astroquery/esa_hubble/tests/dummy_handler.py
  astroquery/esa_hubble/tests/dummy_tap_handler.py
  astroquery/esa_hubble/tests/setup_package.py
  astroquery/esa_hubble/tests/test_esa_hubble.py
  docs/esa_hubble/esa_hubble.rst
  docs/index.rst
Labels: New Service, merge-when-ci-passes

#1484 Minor fixes in conftest
  astroquery/conftest.py
  astroquery/utils/tests/test_utils.py
Labels: infrastructure, no-changelog-entry-needed

#1482 get_collections in cadc
  CHANGES
  astroquery/cadc/core.py
  astroquery/cadc/tests/test_cadctap.py
  astroquery/cadc/tests/test_cadctap_remote.py
  docs/cadc/cadc.rst
Labels: cadc

#1473 MAST: Catalog and Metadata Query Additions
  CHANGES
  astroquery/mast/__init__.py
  astroquery/mast/core.py
  astroquery/mast/tests/data/panstarrs.json
  astroquery/mast/tests/test_mast.py
  astroquery/mast/tests/test_mast_remote.py
  docs/mast/mast.rst
Labels: New Service, mast

#1483 MAST: TIC catalog search update
  CHANGES
  astroquery/mast/core.py
  astroquery/mast/tests/test_mast.py
Labels: mast

#1492 Fix for issue #1491 - Monkeypatching example out of date
  docs/testing.rst
Labels: Documentation, no-changelog-entry-needed, template module
