Repository astropy/astroquery, pull requests merged in 2019-05, with the labels that each got.

#1409 MAST: remove deprecated code, fix tests, general cleanup
  CHANGES
  astroquery/mast/__init__.py
  astroquery/mast/core.py
  astroquery/mast/tesscut.py
  astroquery/mast/tests/test_mast.py
  astroquery/mast/tests/test_mast_remote.py
  astroquery/utils/commons.py
  docs/mast/mast.rst
Labels: mast

#1431 Unescape raw HTML character codes in query result text back to Unicode
  CHANGES
  astroquery/nist/core.py
  astroquery/nist/tests/test_nist_remote.py
Labels: nist

#1435 Adding deprecation decorators from astropy
  CHANGES
  astroquery/utils/decorators.py
Labels: utils

#1406 fixed logical issue in astroquery/vizier/core.py
  astroquery/vizier/core.py
Labels: bug, vizier

#1380 Used logger rather than prints
  astroquery/lcogt/core.py
  astroquery/oac/core.py
  astroquery/utils/tap/core.py
Labels: no-changelog-entry-needed

#1416 Change Simbad query_objectids_async to yield meaningful response content
  astroquery/simbad/core.py
Labels: no-changelog-entry-needed, simbad

#1437 Fix two bugs found in CADC
  astroquery/cadc/core.py
  astroquery/cadc/tests/test_cadctap.py
Labels: bug, cadc, no-changelog-entry-needed

#1439 MAST: Cloud data access example.
  docs/index.rst
  docs/mast/mast.rst
Labels: mast, no-changelog-entry-needed

#1448 Further CADC refactors
  astroquery/cadc/core.py
  astroquery/cadc/tests/test_cadctap.py
Labels: cadc, cleanup, no-changelog-entry-needed

#1266 Tap 1.2.1
  CHANGES
  astroquery/cadc/cadctap/core.py
  astroquery/cadc/cadctap/job.py
  astroquery/gaia/__init__.py
  astroquery/gaia/core.py
  astroquery/gaia/tests/DummyTapHandler.py
  astroquery/gaia/tests/test_gaiatap.py
  astroquery/utils/tap/conn/tapconn.py
  astroquery/utils/tap/conn/tests/DummyConnHandler.py
  astroquery/utils/tap/conn/tests/test_conn.py
  astroquery/utils/tap/core.py
  astroquery/utils/tap/model/group.py
  astroquery/utils/tap/model/job.py
  astroquery/utils/tap/model/shared_item.py
  astroquery/utils/tap/model/shared_to_item.py
  astroquery/utils/tap/model/tapcolumn.py
  astroquery/utils/tap/model/tests/test_job.py
  astroquery/utils/tap/model/user.py
  astroquery/utils/tap/taputils.py
  astroquery/utils/tap/tests/test_tap.py
  astroquery/utils/tap/xmlparser/groupSaxParser.py
  astroquery/utils/tap/xmlparser/jobSaxParser.py
  astroquery/utils/tap/xmlparser/sharedItemsSaxParser.py
  astroquery/utils/tap/xmlparser/tableSaxParser.py
  docs/gaia/gaia.rst
  docs/utils/tap.rst
Labels: utils.tap

#1391 Updating citation infor to point to the paper
  CHANGES
  CITATION
  MANIFEST.in
  README.rst
  astroquery/CITATION
  astroquery/__init__.py
  astroquery/setup_package.py
Labels: infrastructure

#1400 Adding new eso instruments to list
  astroquery/eso/tests/test_eso_remote.py
Labels: eso, merge-when-ci-passes, no-changelog-entry-needed, testing

#603 Make Vizier.find_catalogs and get_catalogs play nice together
  CHANGES
  astroquery/vizier/core.py
  astroquery/vizier/setup_package.py
  astroquery/vizier/tests/data/find_kangapj70683.xml
  astroquery/vizier/tests/test_vizier.py
  docs/vizier/vizier.rst
Labels: enhancement, vizier

#1458 Updating vizier mirrors
  astroquery/vizier/__init__.py
Labels: no-changelog-entry-needed, vizier

#1469 parse xmatch tables if they have duplicate column headings
  astroquery/xmatch/core.py
  astroquery/xmatch/tests/data/poslist_duplicates.csv
  astroquery/xmatch/tests/test_xmatch.py
Labels: no-changelog-entry-needed, xmatch

#1472 ALMA login URLs are a moving target
  astroquery/alma/core.py
Labels: alma, no-changelog-entry-needed

#1477 Add mast cloud docstrings
  astroquery/mast/core.py
Labels: Documentation, mast, no-changelog-entry-needed

#1478 minor updates to jplhorizons
  CHANGES
  astroquery/jplhorizons/__init__.py
  astroquery/jplhorizons/core.py
  astroquery/jplhorizons/tests/test_jplhorizons.py
  astroquery/jplhorizons/tests/test_jplhorizons_remote.py
  docs/jplhorizons/jplhorizons.rst
Labels: jplhorizons, merge-when-ci-passes

#1384 Restructure changelog
  CHANGES
  astroquery/data/README.rst
Labels: infrastructure, no-changelog-entry-needed
