Repository astropy/astroquery, pull requests merged in 2019-04, with the labels that each got.

#1393 Retrieve wavenumbers from NIST queries.
  astroquery/nist/core.py
Labels: nist, no-changelog-entry-needed

#1399 Add missing numpy import, and cleanup the rest
  astroquery/nist/tests/test_nist_remote.py
Labels: nist, no-changelog-entry-needed, testing

#1402 Adding nonzero distance for query
  astroquery/simbad/tests/test_simbad_remote.py
Labels: no-changelog-entry-needed, simbad, testing

#1415 Fix example listing columns and column names
  docs/utils/tap.rst
Labels: no-changelog-entry-needed, utils.tap

#1354 New cadc sub-package
  CHANGES
  README.rst
  astroquery/cadc/__init__.py
  astroquery/cadc/cadctap/__init__.py
  astroquery/cadc/cadctap/core.py
  astroquery/cadc/cadctap/job.py
  astroquery/cadc/cadctap/jobSaxParser.py
  astroquery/cadc/cadctap/tapconn.py
  astroquery/cadc/cadctap/tests/DummyConnHandler.py
  astroquery/cadc/cadctap/tests/__init__.py
  astroquery/cadc/cadctap/tests/data/job_1.vot
  astroquery/cadc/cadctap/tests/data/jobs_list.xml
  astroquery/cadc/cadctap/tests/data/test_jobs_async.xml
  astroquery/cadc/cadctap/tests/data/test_table1.xml
  astroquery/cadc/cadctap/tests/data/test_tables.xml
  astroquery/cadc/cadctap/tests/setup_package.py
  astroquery/cadc/cadctap/tests/test_conn.py
  astroquery/cadc/cadctap/tests/test_tap.py
  astroquery/cadc/cadctap/utils.py
  astroquery/cadc/core.py
  astroquery/cadc/tests/DummyJob.py
  astroquery/cadc/tests/DummyTapHandler.py
  astroquery/cadc/tests/__init__.py
  astroquery/cadc/tests/data/job_1.vot
  astroquery/cadc/tests/data/tap_caps.xml
  astroquery/cadc/tests/setup_package.py
  astroquery/cadc/tests/test_cadctap.py
  astroquery/cadc/tests/test_cadctap_remote.py
  astroquery/utils/tap/conn/tapconn.py
  astroquery/utils/tap/core.py
  docs/cadc/cadc.rst
  docs/index.rst
Labels: New Service

#1425 Made CADC remote tests more robust
  astroquery/cadc/tests/test_cadctap_remote.py
Labels: cadc, no-changelog-entry-needed
