Repository astropy/astroquery, pull requests merged in 2019-08, with the labels that each got.

#1516 Use stable, released version for docs API links
  docs/conf.py
Labels: infrastructure, merge-when-ci-passes, no-changelog-entry-needed, testing

#1515 Remove appveyor, add windows testing to travis
  .travis.yml
  README.rst
  appveyor.yml
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#1517 TST: Temporarily ignore AstropyDeprecationWarning
  astroquery/conftest.py
Labels: infrastructure, merge-when-ci-passes, no-changelog-entry-needed

#1518 MNT: Ensure vo_conesearch tests still run
  astroquery/vo_conesearch/__init__.py
  astroquery/vo_conesearch/tests/test_conesearch.py
Labels: merge-when-ci-passes, no-changelog-entry-needed, vo_conesearch

#1163 (re-)Add astrometry.net
  .travis.yml
  CHANGES
  astroquery/astrometry_net/__init__.py
  astroquery/astrometry_net/core.py
  astroquery/astrometry_net/tests/__init__.py
  astroquery/astrometry_net/tests/data/test-source-list.fit
  astroquery/astrometry_net/tests/data/test-wcs-sol.fit
  astroquery/astrometry_net/tests/data/thumbnail-image.fit.gz
  astroquery/astrometry_net/tests/data/thumbnail-wcs-sol-from-photutils.fit
  astroquery/astrometry_net/tests/data/thumbnail-wcs-sol.fit
  astroquery/astrometry_net/tests/setup_package.py
  astroquery/astrometry_net/tests/test_astrometry_net.py
  astroquery/astrometry_net/tests/test_astrometry_net_remote.py
  astroquery/astroquery.cfg
  docs/astrometry_net/astrometry_net.rst
  docs/index.rst
  setup.py
Labels: New Service

#1530 Fix typo in CHANGES
  CHANGES
Labels: no-changelog-entry-needed

#1532 Adding pytest header report
  astroquery/conftest.py
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#1476 Add parameter to allow to restrict xmatch area considered
  CHANGES
  astroquery/xmatch/core.py
  astroquery/xmatch/tests/test_xmatch_remote.py
Labels: xmatch

#1147 Add ALMA project metadata query tool
  CHANGES
  astroquery/alma/core.py
  astroquery/alma/tests/test_alma_remote.py
Labels: alma

#1432 Update eso.rst to show how to query APICAM
  docs/eso/eso.rst
Labels: eso, no-changelog-entry-needed

#1536 Add option to silence logger for MAST enable_cloud_dataset()
  CHANGES
  astroquery/mast/core.py
Labels: mast, merge-when-ci-passes

#1534 Creating ESA subpackage to hold esa packages in the namespace
  CHANGES
  astroquery/esa/__init__.py
  astroquery/esa/hubble/__init__.py
  astroquery/esa/hubble/core.py
  astroquery/esa/hubble/tests/__init__.py
  astroquery/esa/hubble/tests/data/F05I0602M.tar
  astroquery/esa/hubble/tests/data/J6FL25S4Q.tar
  astroquery/esa/hubble/tests/data/O5HKAX030_FLT.FITS
  astroquery/esa/hubble/tests/data/X0MC5101T.tar
  astroquery/esa/hubble/tests/data/cone.vot
  astroquery/esa/hubble/tests/data/metadata.xml
  astroquery/esa/hubble/tests/data/region.xml
  astroquery/esa/hubble/tests/data/target.xml
  astroquery/esa/hubble/tests/dummy_handler.py
  astroquery/esa/hubble/tests/dummy_tap_handler.py
  astroquery/esa/hubble/tests/setup_package.py
  astroquery/esa/hubble/tests/test_esa_hubble.py
  docs/esa/hubble.rst
  docs/esa_hubble/esa_hubble.rst
  docs/index.rst
Labels: esa.esa_hubble, merge-when-ci-passes

#1543 MNT: Change vos_baseurl in vo_conesearch
  astroquery/vo_conesearch/__init__.py
  docs/vo_conesearch/client.rst
  docs/vo_conesearch/vo_conesearch.rst
Labels: no-changelog-entry-needed, vo_conesearch
