Repository astropy/astroquery, pull requests merged in 2020-01, with the labels that each got.

#1620 Fix change in jplhorizons RA/Dec column headers with the January 21, 2020 update
  CHANGES.rst
  astroquery/jplhorizons/__init__.py
  astroquery/jplhorizons/tests/data/ceres_ephemerides.txt
  astroquery/jplhorizons/tests/test_jplhorizons.py
  astroquery/jplhorizons/tests/test_jplhorizons_remote.py
Labels: jplhorizons, merge-when-ci-passes

#1598 Fix skybot unumbered asteroid return
  CHANGES.rst
  astroquery/imcce/__init__.py
  astroquery/imcce/core.py
  astroquery/imcce/tests/data/skybot_query.dat
  astroquery/imcce/tests/test_skybot.py
Labels: bug, imcce, merge-when-ci-passes

#1607 Preparing for tagging 0.4
  .travis.yml
  CHANGES.rst
  astroquery/cadc/tests/test_cadctap_remote.py
  astroquery/conftest.py
  astroquery/irsa_dust/tests/test_irsa_dust_remote.py
  astroquery/skyview/tests/data/survey_dict.json
  docs/index.rst
Labels: cadc, no-changelog-entry-needed, skyview

#1627 vo_conesearch: Update USNO-A2 and USNO-B1 URLs
  astroquery/vo_conesearch/validator/data/conesearch_urls.txt
Labels: no-changelog-entry-needed, vo_conesearch

#1629 minor updates to jplhorizons
  astroquery/jplhorizons/core.py
  docs/jplhorizons/jplhorizons.rst
Labels: jplhorizons, no-changelog-entry-needed
