Repository astropy/astroquery, pull requests merged in 2020-08, with the labels that each got.

#1689 Use TAP with alma - initial version
  .travis.yml
  CHANGES.rst
  astroquery/alma/__init__.py
  astroquery/alma/core.py
  astroquery/alma/tapsql.py
  astroquery/alma/tests/data/alma-empty.txt
  astroquery/alma/tests/data/alma-onerow.txt
  astroquery/alma/tests/data/data_list_page.html
  astroquery/alma/tests/data/downloadRequest519752156script.sh
  astroquery/alma/tests/data/downloadRequest786572566script.sh
  astroquery/alma/tests/data/downloadRequest786978956script.sh
  astroquery/alma/tests/data/downloadRequest787632764script.sh
  astroquery/alma/tests/data/empty.html
  astroquery/alma/tests/data/etacar_query.xml
  astroquery/alma/tests/data/initial_response.html
  astroquery/alma/tests/data/m83_March25_2015.votable.xml
  astroquery/alma/tests/data/ngc4945.xml
  astroquery/alma/tests/data/querypage.html
  astroquery/alma/tests/data/request_786572566.html
  astroquery/alma/tests/data/request_786978956.html
  astroquery/alma/tests/data/request_787632764.html
  astroquery/alma/tests/data/request_801926122.html
  astroquery/alma/tests/data/staging_submission.html
  astroquery/alma/tests/data/summary_519752156.json
  astroquery/alma/tests/setup_package.py
  astroquery/alma/tests/test_alma.py
  astroquery/alma/tests/test_alma_remote.py
  astroquery/alma/tests/test_alma_utils.py
  astroquery/alma/utils.py
  docs/alma/alma.rst
  pip-requirements
  setup.py
Labels: alma

#1790 SDSS: Check if fields are valid without forcing to lowercase
  astroquery/sdss/core.py
  astroquery/sdss/tests/test_sdss_remote.py
Labels: sdss

#1757 Update gaia.rst
  docs/gaia/gaia.rst
Labels: gaia, no-changelog-entry-needed

#1798 Add reference to citation in docs page
  docs/index.rst
Labels: Documentation, no-changelog-entry-needed

#1791 MNT: Compatibility with astropy.utils.data refactoring for astropy 4.0.2
  astroquery/utils/commons.py
Labels: no-changelog-entry-needed, utils

#1780 Gemini login() and get_file() for authenticating and downloading proprietary data
  CHANGES.rst
  astroquery/gemini/core.py
  astroquery/gemini/tests/test_remote.py
  docs/gemini/gemini.rst
Labels: gemini
