Repository astropy/astroquery, pull requests merged in 2020-07, with the labels that each got.

#1768 Update services.py
  astroquery/mast/services.py
Labels: mast, no-changelog-entry-needed

#1776 Fix ErfaWarning import
  astroquery/mpc/core.py
Labels: mpc

#1498 Include new sevice: SVO FPS (Filter Profile Service)
  CHANGES.rst
  astroquery/svo_fps/__init__.py
  astroquery/svo_fps/core.py
  astroquery/svo_fps/tests/__init__.py
  astroquery/svo_fps/tests/data/svo_fps_Facility=Keck_Instrument=NIRC2.xml
  astroquery/svo_fps/tests/data/svo_fps_ID=2MASS.2MASS.H.xml
  astroquery/svo_fps/tests/data/svo_fps_WavelengthEff_min=12000_WavelengthEff_max=12100.xml
  astroquery/svo_fps/tests/setup_package.py
  astroquery/svo_fps/tests/test_svo_fps.py
  astroquery/svo_fps/tests/test_svo_fps_remote.py
  docs/index.rst
  docs/svo_fps/images/filter_curve.png
  docs/svo_fps/svo_fps.rst
Labels: New Service

#1772 Caching species JSON by scraping Splatalogue
  CHANGES.rst
  astroquery/splatalogue/build_species_table.py
  astroquery/splatalogue/core.py
  astroquery/splatalogue/data/splat-species.json
  astroquery/splatalogue/load_species_table.py
Labels: splatalogue

#1766 Update core.py
  astroquery/wfau/core.py
Labels: no-changelog-entry-needed, wfau

#1767 Update core.py
  CHANGES.rst
  astroquery/ukidss/core.py
Labels: ukidss

#1782 DOC: Fix ID number for Encke in docs example
  docs/jplhorizons/jplhorizons.rst
Labels: Documentation, jplhorizons, no-changelog-entry-needed
