Repository astropy/astroquery, pull requests merged in 2020-03, with the labels that each got.

#1661 TST: Prevent blocking error in Travis CI
  .travis.yml
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#1659 Add flexible parameters to criteria
  CHANGES.rst
  astroquery/gemini/core.py
  astroquery/gemini/tests/test_gemini.py
  astroquery/gemini/tests/test_remote.py
  astroquery/gemini/urlhelper.py
  docs/gemini/gemini.rst
Labels: gemini, merge-when-ci-passes

#1644 ALMA: Update to new ui
  CHANGES.rst
  astroquery/alma/__init__.py
  astroquery/alma/core.py
  astroquery/alma/tests/test_alma.py
  astroquery/alma/tests/test_alma_remote.py
Labels: alma

#1663 MAINT: fix travis config issues
  .travis.yml
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#1669 MAINT: Test fixes due to upstream changes in votable parsing
  astroquery/alma/tests/test_alma.py
  astroquery/nrao/tests/test_nrao.py
  astroquery/simbad/tests/test_simbad.py
Labels: alma, merge-when-ci-passes, no-changelog-entry-needed, nrao, simbad, testing

#1670 MNT: Use pytest-remotedata plugin
  astroquery/alma/tests/test_alma.py
  astroquery/alma/tests/test_alma_remote.py
  astroquery/alma/tests/test_alma_utils.py
  astroquery/astrometry_net/tests/test_astrometry_net_remote.py
  astroquery/atomic/tests/test_atomic_remote.py
  astroquery/cadc/tests/test_cadctap_remote.py
  astroquery/casda/tests/test_casda_remote.py
  astroquery/cds/tests/test_mocserver_remote.py
  astroquery/dace/tests/test_dace_remote.py
  astroquery/esasky/tests/test_esasky_remote.py
  astroquery/eso/tests/test_eso_remote.py
  astroquery/exoplanet_orbit_database/tests/test_exoplanet_orbit_database.py
  astroquery/fermi/tests/test_fermi_remote.py
  astroquery/gaia/tests/test_gaia_remote.py
  astroquery/gama/tests/test_gama_remote.py
  astroquery/gemini/tests/test_remote.py
  astroquery/heasarc/tests/test_heasarc_remote.py
  astroquery/hitran/tests/test_hitran_remote.py
  astroquery/ibe/tests/test_ibe_remote.py
  astroquery/imcce/tests/test_miriade_remote.py
  astroquery/imcce/tests/test_skybot_remote.py
  astroquery/irsa/tests/test_irsa_remote.py
  astroquery/irsa_dust/tests/test_irsa_dust_remote.py
  astroquery/jplhorizons/tests/test_jplhorizons_remote.py
  astroquery/jplsbdb/tests/test_jplsbdb_remote.py
  astroquery/jplspec/tests/test_jplspec_remote.py
  astroquery/lamda/tests/test_lamda_remote.py
  astroquery/lcogt/tests/test_lcogt_remote.py
  astroquery/magpis/tests/test_magpis_remote.py
  astroquery/mast/tests/test_mast_remote.py
  astroquery/mpc/tests/test_mpc_remote.py
  astroquery/nasa_exoplanet_archive/tests/test_nasa_exoplanet_archive_remote.py
  astroquery/ned/tests/test_ned_remote.py
  astroquery/nist/tests/test_nist_remote.py
  astroquery/nrao/tests/test_nrao_remote.py
  astroquery/nvas/tests/test_nvas_remote.py
  astroquery/oac/tests/test_oac_remote.py
  astroquery/open_exoplanet_catalogue/tests/test_open_exoplanet_catalogue_remote.py
  astroquery/sdss/tests/test_sdss_remote.py
  astroquery/simbad/tests/test_simbad_remote.py
  astroquery/skyview/tests/test_skyview_remote.py
  astroquery/splatalogue/tests/test_splatalogue.py
  astroquery/template_module/tests/test_module_remote.py
  astroquery/tests/test_internet.py
  astroquery/ukidss/tests/test_ukidss_remote.py
  astroquery/utils/tests/test_utils.py
  astroquery/vamdc/tests/test_vamdc_remote.py
  astroquery/vizier/tests/test_vizier_remote.py
  astroquery/vo_conesearch/tests/test_conesearch.py
  astroquery/vo_conesearch/tests/test_vos_catalog.py
  astroquery/vo_conesearch/validator/tests/test_validate.py
  astroquery/vsa/tests/test_vista_remote.py
  astroquery/xmatch/tests/test_xmatch_remote.py
  setup.cfg
  setup.py
Labels: alma, atomic, cds, esasky, eso, gaia, gama, gemini, heasarc, hitran, ibe, imcce, irsa, lamda, mast, merge-when-ci-passes, nasa_exoplanet_archive, no-changelog-entry-needed, utils

#1678 TST: Fixing MAST remote tests
  astroquery/mast/tests/test_mast_remote.py
Labels: mast, no-changelog-entry-needed

#1665 Fixes for ALMA bugs from #1664
  CHANGES.rst
  astroquery/alma/core.py
  astroquery/alma/tests/test_alma_remote.py
  astroquery/query.py
  astroquery/utils/mocks.py
Labels: alma

#1557 Adding new service for accessing XMM-Newton Archive
  astroquery/xmm_newton/__init__.py
  astroquery/xmm_newton/core.py
  astroquery/xmm_newton/tests/__init__.py
  astroquery/xmm_newton/tests/dummy_handler.py
  astroquery/xmm_newton/tests/dummy_tap_handler.py
  astroquery/xmm_newton/tests/setup_package.py
  astroquery/xmm_newton/tests/test_xmm_newton.py
  docs/index.rst
  docs/xmm_newton/xmm_newton.rst
Labels: New Service
