Repository astropy/astroquery, pull requests merged in 2020-11, with the labels that each got.

#1862 Prefer pytest-style tests (issue #861)
  CHANGES.rst
  astroquery/esasky/tests/test_esasky.py
  astroquery/utils/commons.py
  astroquery/utils/decorators.py
  astroquery/utils/download_file_list.py
  astroquery/utils/schema.py
  astroquery/utils/tap/conn/tapconn.py
  astroquery/utils/tap/conn/tests/DummyConnHandler.py
  astroquery/utils/tap/conn/tests/test_conn.py
  astroquery/utils/tap/core.py
  astroquery/utils/tap/gui/login.py
  astroquery/utils/tap/model/group.py
  astroquery/utils/tap/model/job.py
  astroquery/utils/tap/model/shared_item.py
  astroquery/utils/tap/model/shared_to_item.py
  astroquery/utils/tap/model/tapcolumn.py
  astroquery/utils/tap/model/taptable.py
  astroquery/utils/tap/model/tests/test_job.py
  astroquery/utils/tap/model/user.py
  astroquery/utils/tap/taputils.py
  astroquery/utils/tap/tests/test_tap.py
  astroquery/utils/tap/xmlparser/tests/test_xmlparser.py
  astroquery/utils/tests/test_system_tools.py
  astroquery/utils/tests/test_utils.py
Labels: esasky, hacktoberfest-accepted, utils, utils.tap

#1883 Docs frontpage cleanup
  docs/index.rst
Labels: Documentation, hacktoberfest-accepted, no-changelog-entry-needed

#1879 Removing object inheritance from astroquery modules
  astroquery/atomic/__init__.py
  astroquery/atomic/tests/test_atomic.py
  astroquery/cadc/tests/test_cadctap.py
  astroquery/casda/tests/test_casda.py
  astroquery/cds/tests/test_mocserver_remote.py
  astroquery/cosmosim/core.py
  astroquery/dace/tests/test_dace_remote.py
  astroquery/esa/hubble/tests/dummy_handler.py
  astroquery/esa/hubble/tests/dummy_tap_handler.py
  astroquery/esa/xmm_newton/tests/dummy_handler.py
  astroquery/esa/xmm_newton/tests/dummy_tap_handler.py
  astroquery/exoplanet_orbit_database/exoplanet_orbit_database.py
  astroquery/fermi/core.py
  astroquery/gaia/tests/DummyTapHandler.py
  astroquery/gemini/tests/test_gemini.py
  astroquery/gemini/tests/test_remote.py
  astroquery/gemini/urlhelper.py
  astroquery/hitran/tests/test_hitran.py
  astroquery/irsa_dust/core.py
  astroquery/irsa_dust/tests/test_irsa_dust.py
  astroquery/irsa_dust/tests/test_irsa_dust_remote.py
  astroquery/jplspec/tests/test_jplspec.py
  astroquery/mast/auth.py
  astroquery/mast/cloud.py
  astroquery/mast/tests/test_mast_remote.py
  astroquery/mpc/tests/test_mpc_remote.py
  astroquery/noirlab/tests/test_noirlab_remote.py
  astroquery/open_exoplanet_catalogue/utils.py
  astroquery/query.py
  astroquery/simbad/core.py
  astroquery/simbad/tests/test_simbad.py
  astroquery/simbad/tests/test_simbad_remote.py
  astroquery/skyview/tests/test_skyview_remote.py
  astroquery/utils/class_or_instance.py
  astroquery/utils/commons.py
  astroquery/utils/mocks.py
  astroquery/utils/schema.py
  astroquery/utils/tap/conn/tapconn.py
  astroquery/utils/tap/conn/tests/DummyConn.py
  astroquery/utils/tap/conn/tests/DummyConnHandler.py
  astroquery/utils/tap/conn/tests/DummyResponse.py
  astroquery/utils/tap/core.py
  astroquery/utils/tap/gui/login.py
  astroquery/utils/tap/model/filter.py
  astroquery/utils/tap/model/group.py
  astroquery/utils/tap/model/job.py
  astroquery/utils/tap/model/shared_item.py
  astroquery/utils/tap/model/shared_to_item.py
  astroquery/utils/tap/model/tapcolumn.py
  astroquery/utils/tap/model/taptable.py
  astroquery/utils/tap/model/user.py
  astroquery/utils/tests/test_utils.py
  astroquery/vo_conesearch/tests/test_conesearch.py
  astroquery/vo_conesearch/tests/test_vos_catalog.py
  astroquery/vo_conesearch/validator/inspect.py
  astroquery/vo_conesearch/validator/tests/test_inpect.py
  astroquery/vo_conesearch/validator/tests/test_validate.py
  astroquery/vo_conesearch/vo_async.py
  astroquery/vo_conesearch/vos_catalog.py
Labels: atomic, cadc, casda, cds, cosmosim, gaia, gemini, hacktoberfest-accepted, hitran, jplspec, mast, mpc, no-changelog-entry-needed, noirlab, python3, simbad, skyview, utils, utils.tap, vo_conesearch

#1880 Fixing single letter variables in vsa,wfau,xmatch
  astroquery/wfau/core.py
  astroquery/xmatch/core.py
  astroquery/xmatch/tests/test_xmatch.py
Labels: gaia, hacktoberfest-accepted, no-changelog-entry-needed, wfau, xmatch

#1871 Update documentation for the gaia query object (#1760)
  docs/gaia/gaia.rst
Labels: gaia, hacktoberfest-accepted, no-changelog-entry-needed

#1881 Added case for passing row to download_products()
  CHANGES.rst
  astroquery/mast/observations.py
  astroquery/mast/tests/test_mast.py
  astroquery/mast/tests/test_mast_remote.py
Labels: hacktoberfest-accepted, mast

#1884 Removed old deprecation warnings
  CHANGES.rst
  astroquery/mast/core.py
  astroquery/mast/observations.py
  astroquery/mast/tests/test_mast.py
  astroquery/mast/tests/test_mast_remote.py
Labels: mast

#1890 change single letter internal variables #1572
  astroquery/sdss/core.py
  astroquery/sdss/tests/test_sdss.py
  astroquery/sha/core.py
  astroquery/simbad/core.py
  astroquery/simbad/tests/test_simbad.py
  astroquery/splatalogue/load_species_table.py
Labels: no-changelog-entry-needed, refactor
