Repository astropy/astroquery, pull requests merged in 2020-09, with the labels that each got.

#1813 Adding missing import
  astroquery/mast/discovery_portal.py
Labels: mast, no-changelog-entry-needed

#1817 Change splatalogue url
  CHANGES.rst
  astroquery/splatalogue/__init__.py
  astroquery/splatalogue/build_species_table.py
  astroquery/splatalogue/tests/test_splatalogue.py
Labels: changed remote API, splatalogue

#1759 Feat xxx extract epic
  CHANGES.rst
  astroquery/esa/xmm_newton/core.py
  astroquery/esa/xmm_newton/tests/test_xmm_newton.py
  docs/esa/xmm_newton.rst
Labels: xmm_newton

#1784 Gaia datalink
  CHANGES.rst
  astroquery/gaia/__init__.py
  astroquery/gaia/core.py
  astroquery/gaia/tests/DummyTapHandler.py
  astroquery/gaia/tests/test_gaiatap.py
  astroquery/utils/tap/conn/tapconn.py
  astroquery/utils/tap/conn/tests/DummyConnHandler.py
  astroquery/utils/tap/core.py
  astroquery/utils/tap/model/job.py
  astroquery/utils/tap/model/tapcolumn.py
  astroquery/utils/tap/taputils.py
  astroquery/utils/tap/tests/data/test_table_update.xml
  astroquery/utils/tap/tests/test_tap.py
  docs/gaia/gaia.rst
Labels: gaia, utils, utils.tap

#1825 MAST: added ability to download a single file
  CHANGES.rst
  astroquery/mast/observations.py
  astroquery/mast/tests/test_mast.py
  astroquery/mast/tests/test_mast_remote.py
  docs/mast/mast.rst
Labels: mast

#1829 HEASARC: Add better error reporting for "no matches found"
  CHANGES.rst
  astroquery/heasarc/core.py
Labels: heasarc
