Repository astropy/astroquery, pull requests merged in 2020-04, with the labels that each got.

#1693 Fix broken master: xmm relative imports
  astroquery/esa/xmm_newton/__init__.py
  astroquery/esa/xmm_newton/core.py
  astroquery/esa/xmm_newton/tests/dummy_handler.py
  astroquery/esa/xmm_newton/tests/dummy_tap_handler.py
  astroquery/esa/xmm_newton/tests/setup_package.py
  astroquery/esa/xmm_newton/tests/test_xmm_newton.py
  docs/esa/xmm_newton.rst
  docs/index.rst
Labels: Affects-dev, bug, critical, no-changelog-entry-needed

#1683 Fix for alma issue: show all files
  CHANGES.rst
  astroquery/alma/core.py
  astroquery/alma/tests/test_alma_remote.py
Labels: alma

#1699 Removed myself as Author
  astroquery/vizier/__init__.py
Labels: no-changelog-entry-needed, vizier

#1697 Travis fix reproject install
  .travis.yml
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#1613 remove call to system-wide gunzip. Use python version instead.
  astroquery/utils/system_tools.py
  astroquery/utils/tests/test_system_tools.py
Labels: no-changelog-entry-needed, utils

#1692 Vizier: catalog with specific columns request
  astroquery/vizier/core.py
Labels: no-changelog-entry-needed, utils, vizier

#1680 BUG: set_top_in_query() fails when SELECT is followed by \n
  CHANGES.rst
  astroquery/utils/tap/taputils.py
Labels: utils, utils.tap

#1702 Add support for column_filters keyword to Vizier's query_region()
  CHANGES.rst
  astroquery/vizier/core.py
  docs/vizier/vizier.rst
Labels: vizier

#1657 Add json kwarg to AstroQuery/BaseQeury
  CHANGES.rst
  astroquery/query.py
  astroquery/utils/mocks.py
Labels: infrastructure

#1638 New service: NOAO
  CHANGES.rst
  astroquery/noirlab/__init__.py
  astroquery/noirlab/core.py
  astroquery/noirlab/tests/__init__.py
  astroquery/noirlab/tests/expected.py
  astroquery/noirlab/tests/test_noirlab_remote.py
  docs/index.rst
  docs/noirlab/noirlab.rst
Labels: New Service, merge-when-ci-passes, noirlab

#1645 MAST refactor
  CHANGES.rst
  astroquery/mast/__init__.py
  astroquery/mast/auth.py
  astroquery/mast/cloud.py
  astroquery/mast/collections.py
  astroquery/mast/core.py
  astroquery/mast/cutouts.py
  astroquery/mast/discovery_portal.py
  astroquery/mast/fpl.py
  astroquery/mast/observations.py
  astroquery/mast/services.py
  astroquery/mast/tests/test_mast.py
  astroquery/mast/tests/test_mast_remote.py
  astroquery/mast/utils.py
  docs/conf.py
  docs/mast/mast.rst
Labels: mast, no-changelog-entry-needed

#1685 Fix passing additional args to Gemini's query_criteria
  astroquery/gemini/core.py
Labels: gemini, no-changelog-entry-needed

#1710 Update simbad.rst
  docs/simbad/simbad.rst
Labels: no-changelog-entry-needed, simbad

#1711 TST: utils monkeypatch compatibility with astropy 4.1/4.0.2
  astroquery/utils/tests/test_utils.py
Labels: infrastructure, no-changelog-entry-needed, utils
