Repository astropy/astroquery, pull requests merged in 2020-10, with the labels that each got.

#1823 Fix string formatting syntax error in Gemini module
  CHANGES.rst
  astroquery/gemini/core.py
  astroquery/gemini/tests/test_gemini.py
Labels: gemini

#1839 Update NED URLs
  astroquery/ned/core.py
Labels: ned, no-changelog-entry-needed

#1833 Updating CADC documentation
  astroquery/cadc/core.py
  docs/cadc/cadc.rst
Labels: Documentation, cadc, no-changelog-entry-needed

#1852 Replace rospublic with rosmaster
  astroquery/heasarc/tests/test_heasarc_remote.py
Labels: heasarc, no-changelog-entry-needed

#1865 Comment api_key in the default config file
  astroquery/astroquery.cfg
Labels: infrastructure, no-changelog-entry-needed

#1859 Rename Single Letter Internal Variables: modules a-e
  astroquery/alfalfa/core.py
  astroquery/alfalfa/tests/test_alfalfa.py
  astroquery/alma/core.py
  astroquery/alma/utils.py
  astroquery/astrometry_net/tests/test_astrometry_net.py
  astroquery/besancon/core.py
  astroquery/cadc/tests/test_cadctap.py
  astroquery/casda/core.py
  astroquery/cosmosim/core.py
  astroquery/esa/hubble/core.py
  astroquery/esa/hubble/tests/test_esa_hubble.py
  astroquery/esa/xmm_newton/core.py
Labels: no-changelog-entry-needed

#1854 Used more specific exceptions in IRSA #1037
  CHANGES.rst
  astroquery/irsa/core.py
Labels: irsa

#1858 Updated ESASky module for version 3.5 of ESASky
  CHANGES.rst
  astroquery/esasky/core.py
Labels: esasky

#1868 MAST user survey banner
  docs/mast/mast.rst
Labels: no-changelog-entry-needed

#1877 MNT: Fix Travis CI badge link
  README.rst
Labels: Documentation, no-changelog-entry-needed

#1875 Fix undefined names
  astroquery/esa/hubble/core.py
  astroquery/esa/hubble/tests/test_esa_hubble.py
  astroquery/esa/xmm_newton/tests/dummy_handler.py
Labels: esa.esa_hubble, no-changelog-entry-needed, xmm_newton
