Repository astropy/astroquery, pull requests merged in 2020-12, with the labels that each got.

#1908 DOC: Replace astropy channel with conda-forge
  README.rst
  docs/index.rst
Labels: Documentation, infrastructure, no-changelog-entry-needed

#1897 Fix undefined names
  astroquery/jplsbdb/core.py
  astroquery/mast/cutouts.py
Labels: jplsbdb, mast

#1914 Astroquery module for ISO archive (clean pull request)
  CHANGES.rst
  README.rst
  astroquery/esa/iso/__init__.py
  astroquery/esa/iso/core.py
  astroquery/esa/iso/tests/__init__.py
  astroquery/esa/iso/tests/dummy_handler.py
  astroquery/esa/iso/tests/dummy_tap_handler.py
  astroquery/esa/iso/tests/setup_package.py
  astroquery/esa/iso/tests/test_iso.py
  docs/esa/images/camdynamicDisplay.png
  docs/esa/images/campostcard.png
  docs/esa/images/spectradynamicDisplay.png
  docs/esa/iso.rst
  docs/index.rst
Labels: esa

#1911 Adding Zcut to astroquery
  CHANGES.rst
  astroquery/mast/__init__.py
  astroquery/mast/cutouts.py
  astroquery/mast/tests/data/astrocut_189.49206_62.20615_100x100px.zip
  astroquery/mast/tests/data/astrocut_189.49206_62.20615_100x100px_f.zip
  astroquery/mast/tests/data/zcut_survey.json
  astroquery/mast/tests/test_mast.py
  astroquery/mast/tests/test_mast_remote.py
  docs/mast/mast.rst
Labels: mast

#1909 ESASky Spectra
  CHANGES.rst
  astroquery/esasky/core.py
  docs/esasky/esasky.rst
Labels: esasky

#1867 Bug: ALMA queries with lon, lat instead of RA, dec
  CHANGES.rst
  astroquery/alma/core.py
  astroquery/alma/tests/test_alma.py
Labels: alma, hacktoberfest-accepted

#1734 Hips2fits new service
  CHANGES.rst
  astroquery/hips2fits/__init__.py
  astroquery/hips2fits/core.py
  astroquery/hips2fits/tests/__init__.py
  astroquery/hips2fits/tests/test_hips2fits.py
  astroquery/hips2fits/tests/test_hips2fits_remote.py
  docs/hips2fits/hips2fits.rst
  docs/hips2fits/query_no_wcs.png
  docs/hips2fits/query_wcs.png
  docs/index.rst
Labels: New Service, cds
