Repository astropy/astroquery, pull requests merged in 2021-10, with the labels that each got.

#2165 Remove `six`
  astroquery/alma/core.py
  astroquery/alma/tests/test_alma.py
  astroquery/astrometry_net/core.py
  astroquery/astrometry_net/tests/test_astrometry_net.py
  astroquery/atomic/core.py
  astroquery/besancon/core.py
  astroquery/besancon/tests/test_besancon.py
  astroquery/cadc/tests/test_cadctap.py
  astroquery/cosmosim/core.py
  astroquery/esa/hubble/core.py
  astroquery/eso/core.py
  astroquery/eso/tests/test_eso_remote.py
  astroquery/gaia/core.py
  astroquery/gaia/tests/DummyTapHandler.py
  astroquery/heasarc/core.py
  astroquery/lamda/core.py
  astroquery/mast/observations.py
  astroquery/nasa_ads/core.py
  astroquery/nist/core.py
  astroquery/nist/tests/test_nist_remote.py
  astroquery/nrao/core.py
  astroquery/query.py
  astroquery/sdss/tests/test_sdss.py
  astroquery/sdss/tests/test_sdss_remote.py
  astroquery/simbad/core.py
  astroquery/simbad/tests/test_simbad.py
  astroquery/skyview/core.py
  astroquery/utils/commons.py
  astroquery/utils/download_file_list.py
  astroquery/utils/progressbar.py
  astroquery/utils/tap/conn/tapconn.py
  astroquery/utils/tap/conn/tests/DummyConnHandler.py
  astroquery/utils/tap/core.py
  astroquery/utils/tap/gui/login.py
  astroquery/utils/tap/xmlparser/utils.py
  astroquery/utils/tests/test_utils.py
  astroquery/utils/url_helpers.py
  astroquery/vizier/core.py
  astroquery/vizier/tests/test_vizier.py
  astroquery/wfau/core.py
  astroquery/xmatch/core.py
  docs/index.rst
  setup.cfg
Labels: cleanup, no-changelog-entry-needed

#2161 Revise id_type behavior in jplhorizons.
  CHANGES.rst
  astroquery/jplhorizons/core.py
  astroquery/jplhorizons/tests/test_jplhorizons.py
  astroquery/jplhorizons/tests/test_jplhorizons_remote.py
  docs/jplhorizons/jplhorizons.rst
Labels: jplhorizons

#2171 Fixing compatibility of nasa_exoplanet_archive with astropy <4.1
  astroquery/ipac/nexsci/nasa_exoplanet_archive/core.py
  setup.cfg
Labels: no-changelog-entry-needed, ipac.nexsci.nasa_exoplanet_archive
