Repository astropy/astroquery, pull requests merged in 2021-04, with the labels that each got.

#2010 MNT: Replace master with main
  .github/workflows/ci_tests.yml
  .github/workflows/codeql-analysis.yml
  README.rst
  docs/conf.py
  docs/index.rst
  docs/svo_fps/svo_fps.rst
  docs/vo_conesearch/validator.rst
  frontpage/make_frontpage.sh
  tox.ini
Labels: no-changelog-entry-needed, refactor

#2000 Allow engineering/qa search terms
  CHANGES.rst
  astroquery/gemini/tests/test_gemini.py
  astroquery/gemini/urlhelper.py
  docs/gemini/gemini.rst
Labels: gemini

#1896 Rename Single Letter Internal Variables: modules j-m
  astroquery/magpis/core.py
Labels: magpis, no-changelog-entry-needed

#1982 Update Gaia documentation to include EDR3
  docs/gaia/gaia.rst
Labels: Documentation, gaia, no-changelog-entry-needed

#1927 hips2fits remove imshow calls from remote tests
  astroquery/hips2fits/core.py
  astroquery/hips2fits/tests/test_hips2fits_remote.py
  docs/hips2fits/hips2fits.rst
Labels: hips2fits, no-changelog-entry-needed

#1989 Delete range from session request header after use
  astroquery/query.py
  astroquery/tests/test_resume.py
Labels: query

#1998 Make radius defaut smarter in criteria query
  CHANGES.rst
  astroquery/gemini/core.py
  astroquery/gemini/tests/test_gemini.py
  docs/gemini/gemini.rst
Labels: gemini
