Repository astropy/astroquery, pull requests merged in 2021-01, with the labels that each got.

#1922 Minor docstring/whitespace fixes
  astroquery/esasky/core.py
  docs/esasky/esasky.rst
Labels: esasky, no-changelog-entry-needed

#1928 Zcut follow-up
  astroquery/mast/__init__.py
Labels: mast, no-changelog-entry-needed

#1925 Switch CI to actions
  .github/workflows/ci_tests.yml
  .gitignore
  .travis.yml
  MANIFEST.in
  README.rst
  astroquery/__init__.py
  astroquery/alma/core.py
  astroquery/mast/cutouts.py
  astroquery/tests/setup_package.py
  astroquery/vo_conesearch/validator/tests/test_inpect.py
  docs/conf.py
  docs/gallery-examples/example10_mast.py
  docs/index.rst
  pyproject.toml
  setup.cfg
  setup.py
  tox.ini
Labels: infrastructure, no-changelog-entry-needed, testing

#1933 Remove non working rebase action
  .github/workflows/rebase.yml
Labels: infrastructure, no-changelog-entry-needed

#1926 ESASky test updates
  astroquery/esasky/core.py
  astroquery/esasky/tests/data/catalogs.txt
  astroquery/esasky/tests/data/observations.txt
  astroquery/esasky/tests/test_esasky.py
  astroquery/esasky/tests/test_esasky_remote.py
  docs/esasky/esasky.rst
Labels: esasky, no-changelog-entry-needed

#1918 Adding request for acknowledgements to Astroquery RTD for TESSCut
  docs/mast/mast.rst
Labels: Documentation, mast, no-changelog-entry-needed

#1936 TST: Add remote data cron job, minor workflow clean-ups
  .github/workflows/ci_tests.yml
  tox.ini
Labels: enhancement, no-changelog-entry-needed, testing

#1939 TST: Add CodeQL
  .github/workflows/codeql-analysis.yml
Labels: merge-when-ci-passes, no-changelog-entry-needed, testing

#1938 TST: Add dependabot YAML
  .github/dependabot.yml
Labels: no-changelog-entry-needed, testing

#1940 TST: Enable skip CI
  .github/workflows/ci_tests.yml
  .github/workflows/codeql-analysis.yml
  README.rst
Labels: no-changelog-entry-needed, testing

#1921 Added case for catching empty observations product requests
  CHANGES.rst
  astroquery/mast/observations.py
Labels: mast

#1960 MNT: action-skip-ci has moved
  .github/workflows/ci_tests.yml
  .github/workflows/codeql-analysis.yml
Labels: no-changelog-entry-needed

#1961 MNT: workaround astropy unit parsing changes
  astroquery/imcce/tests/test_miriade.py
Labels: imcce, no-changelog-entry-needed

#1814 Download epic metadata
  CHANGES.rst
  astroquery/esa/xmm_newton/core.py
  astroquery/esa/xmm_newton/tests/test_xmm_newton.py
  docs/esa/xmm_newton.rst
Labels: to review, xmm_newton
