Repository astropy/astroquery, pull requests merged in 2021-03, with the labels that each got.

#2006 TST: Fix cancel workflow for PRs
  .github/workflows/cancel_workflows.yml
  .github/workflows/ci_tests.yml
  .github/workflows/codeql-analysis.yml
Labels: bug, testing

#1994 MAST: Fixing Spitzer download bug
  CHANGES.rst
  astroquery/mast/observations.py
  docs/mast/mast.rst
Labels: mast

#1820 Support for datalink
  CHANGES.rst
  astroquery/alma/__init__.py
  astroquery/alma/core.py
  astroquery/alma/tapsql.py
  astroquery/alma/tests/data/alma-datalink.xml
  astroquery/alma/tests/test_alma.py
  astroquery/alma/tests/test_alma_remote.py
  docs/alma/alma.rst
Labels: alma

#1992 Added HTTP logging capability
  CHANGES.rst
  astroquery/__init__.py
  astroquery/alma/core.py
  astroquery/alma/utils.py
  astroquery/astrometry_net/core.py
  astroquery/cadc/core.py
  astroquery/casda/core.py
  astroquery/casda/tests/test_casda.py
  astroquery/cosmosim/core.py
  astroquery/esa/hubble/core.py
  astroquery/esa/iso/core.py
  astroquery/esa/xmm_newton/core.py
  astroquery/esasky/core.py
  astroquery/eso/core.py
  astroquery/gaia/core.py
  astroquery/gemini/core.py
  astroquery/lamda/core.py
  astroquery/lcogt/core.py
  astroquery/logger.py
  astroquery/mast/auth.py
  astroquery/mast/cloud.py
  astroquery/mast/observations.py
  astroquery/nrao/core.py
  astroquery/oac/core.py
  astroquery/query.py
  astroquery/splatalogue/core.py
  astroquery/utils/tap/core.py
  astroquery/utils/timer.py
  astroquery/vamdc/load_species_table.py
  astroquery/vo_conesearch/validator/validate.py
  docs/gallery-examples/example7_alma.py
  docs/index.rst
Labels: infrastructure

#2012 Many Vizier fixes
  astroquery/vizier/core.py
  astroquery/vizier/tests/test_vizier.py
Labels: vizier
