Repository astropy/astroquery, pull requests merged in 2021-08, with the labels that each got.

#2128 Docfix jplhorizons vector timescale
  astroquery/jplhorizons/core.py
Labels: jplhorizons

#1968 Ned documentation cleanup
  docs/ned/ned.rst
Labels: Documentation, ipac.ned, no-changelog-entry-needed

#2134 Document JPL Horizons vector coordinate reference frames.
  astroquery/jplhorizons/core.py
  docs/jplhorizons/jplhorizons.rst
Labels: Documentation, no-changelog-entry-needed, jplhorizons

#2132 Moving the default configuration dump from the main landing page
  docs/configuration.rst
  docs/index.rst
Labels: Documentation, no-changelog-entry-needed

#2137 Fix docs examples for xmm newton
  docs/esa/xmm_newton.rst
Labels: Documentation, no-changelog-entry-needed, xmm_newton

#2136 splatalogue.utils minimize bugfix
  CHANGES.rst
  astroquery/splatalogue/tests/test_utils.py
  astroquery/splatalogue/utils.py
Labels: splatalogue
