Repository astropy/astroquery, pull requests merged in 2021-06, with the labels that each got.

#1988 Add alternative server with the same interface as HEASARC, but different tables (more recent data of INTEGRAL, some CTA tables)
  CHANGES.rst
  astroquery/heasarc/__init__.py
  astroquery/heasarc/core.py
  astroquery/heasarc/tests/test_heasarc_remote.py
  astroquery/heasarc/tests/test_heasarc_remote_isdc.py
  docs/heasarc/heasarc.rst
Labels: New Service

#1855 ESA Hubble cone search improvements
  CHANGES.rst
  astroquery/esa/hubble/__init__.py
  astroquery/esa/hubble/core.py
  astroquery/esa/hubble/tests/data/cone_search.vot
  astroquery/esa/hubble/tests/data/cone_search_m31_5.vot
  astroquery/esa/hubble/tests/data/cone_search_m31_5.vot.test
  astroquery/esa/hubble/tests/dummy_handler.py
  astroquery/esa/hubble/tests/dummy_tap_handler.py
  astroquery/esa/hubble/tests/test_esa_hubble.py
  astroquery/esa/hubble/tests/test_esa_hubble_remote.py
  docs/esa/hubble.rst
Labels: esa.esa_hubble, hacktoberfest-accepted, to review

#2017 xmm_newton: Adding epic images, epic spectra and epic light curves
  CHANGES.rst
  astroquery/esa/xmm_newton/core.py
  astroquery/esa/xmm_newton/tests/test_xmm_newton.py
  astroquery/esa/xmm_newton/tests/test_xmm_newton_remote.py
Labels: xmm_newton

#2067 Updates to nasa_exoplanet_archive module to make it compatible with Archive 2.0
  CHANGES.rst
  astroquery/nasa_exoplanet_archive/__init__.py
  astroquery/nasa_exoplanet_archive/core.py
  astroquery/nasa_exoplanet_archive/tests/data/aliastable_expect_2.txt
  astroquery/nasa_exoplanet_archive/tests/data/aliastable_expect_3.txt
  astroquery/nasa_exoplanet_archive/tests/data/aliastable_expect_4.txt
  astroquery/nasa_exoplanet_archive/tests/data/aliastable_expect_5.txt
  astroquery/nasa_exoplanet_archive/tests/data/aliastable_expect_6.txt
  astroquery/nasa_exoplanet_archive/tests/data/aliastable_expect_7.txt
  astroquery/nasa_exoplanet_archive/tests/data/aliastable_expect_8.txt
  astroquery/nasa_exoplanet_archive/tests/data/compositepars_expect_0.txt
  astroquery/nasa_exoplanet_archive/tests/data/exomultpars_expect_0.txt
  astroquery/nasa_exoplanet_archive/tests/data/exoplanets_expect_0.txt
  astroquery/nasa_exoplanet_archive/tests/data/exoplanets_expect_1.txt
  astroquery/nasa_exoplanet_archive/tests/data/exoplanets_expect_10.txt
  astroquery/nasa_exoplanet_archive/tests/data/exoplanets_expect_11.txt
  astroquery/nasa_exoplanet_archive/tests/data/exoplanets_expect_12.txt
  astroquery/nasa_exoplanet_archive/tests/data/exoplanets_expect_13.txt
  astroquery/nasa_exoplanet_archive/tests/data/exoplanets_expect_14.txt
  astroquery/nasa_exoplanet_archive/tests/data/exoplanets_expect_15.txt
  astroquery/nasa_exoplanet_archive/tests/data/exoplanets_expect_2.txt
  astroquery/nasa_exoplanet_archive/tests/data/exoplanets_expect_3.txt
  astroquery/nasa_exoplanet_archive/tests/data/exoplanets_expect_4.txt
  astroquery/nasa_exoplanet_archive/tests/data/exoplanets_expect_5.txt
  astroquery/nasa_exoplanet_archive/tests/data/exoplanets_expect_6.txt
  astroquery/nasa_exoplanet_archive/tests/data/exoplanets_expect_7.txt
  astroquery/nasa_exoplanet_archive/tests/data/exoplanets_expect_8.txt
  astroquery/nasa_exoplanet_archive/tests/data/exoplanets_expect_9.txt
  astroquery/nasa_exoplanet_archive/tests/data/k2candidates_expect_0.txt
  astroquery/nasa_exoplanet_archive/tests/data/k2names_expect_0.txt
  astroquery/nasa_exoplanet_archive/tests/data/keplernames_expect_0.txt
  astroquery/nasa_exoplanet_archive/tests/data/keplerstellar_expect_0.txt
  astroquery/nasa_exoplanet_archive/tests/data/microlensing_expect_0.txt
  astroquery/nasa_exoplanet_archive/tests/data/responses.json
  astroquery/nasa_exoplanet_archive/tests/data/toi_expect_0.txt
  astroquery/nasa_exoplanet_archive/tests/test_nasa_exoplanet_archive.py
  astroquery/nasa_exoplanet_archive/tests/test_nasa_exoplanet_archive_remote.py
  docs/nasa_exoplanet_archive/nasa_exoplanet_archive.rst
Labels: merge-when-ci-passes, nasa_exoplanet_archive

#2085 Issue astropy/astroquery#1722: Turn off verbose Tap Plus messages
  CHANGES.rst
  astroquery/gaia/core.py
Labels: gaia

#2088 Atomic: change http->https, and do a lot of refactoring
  CHANGES.rst
  astroquery/atomic/__init__.py
  astroquery/atomic/core.py
Labels: atomic

#2087 Refactor xmm_newton download to use astroquery tools
  CHANGES.rst
  astroquery/esa/xmm_newton/core.py
Labels: xmm_newton

#2084 Remove non-buildtime dependencies from pyproject.toml
  pyproject.toml
Labels: infrastructure, no-changelog-entry-needed

#2091 Fix downloaded amount for progressbar
  CHANGES.rst
  astroquery/query.py
Labels: bug, infrastructure

#2089 Fix tests for nasa_explanet_archive
  astroquery/nasa_exoplanet_archive/tests/test_nasa_exoplanet_archive.py
Labels: nasa_exoplanet_archive, no-changelog-entry-needed, testing

#2092 Cleanup Irsa module
  CHANGES.rst
  astroquery/irsa/core.py
  astroquery/irsa/tests/test_irsa.py
  astroquery/irsa/tests/test_irsa_remote.py
Labels: irsa
