Repository astropy/astroquery, pull requests merged in 2021-12, with the labels that each got.

#2235 Mast cloudaccess docs update
  docs/mast/mast.rst
Labels: Documentation, no-changelog-entry-needed, mast

#2238 eJWST release
  CHANGES.rst
  astroquery/esa/jwst/__init__.py
  astroquery/esa/jwst/core.py
  astroquery/esa/jwst/tests/DummyTapHandler.py
  astroquery/esa/jwst/tests/test_jwstdata.py
  astroquery/esa/jwst/tests/test_jwsttap.py
  docs/esa/jwst.rst
Labels: esa.jwst

#2243 eJWST: remove disclaimer for release
  CHANGES.rst
  astroquery/esa/jwst/__init__.py
  docs/esa/jwst.rst
Labels: no-changelog-entry-needed, esa.jwst

#2246 Fix to allow html downloads with alma package
  astroquery/alma/core.py
  astroquery/alma/tests/test_alma_remote.py
Labels: alma, no-changelog-entry-needed

#2247 Deprecate `astroquery/utils/download_file_list.py`
  CHANGES.rst
  astroquery/utils/download_file_list.py
  astroquery/utils/tests/test_download_file_list.py
Labels: utils

#2248 Expand contribution guidelines
  CONTRIBUTING.rst
Labels: Documentation, no-changelog-entry-needed

#2253 Fix for issue #2237: do not cache results that cannot be parsed.
  astroquery/jplhorizons/core.py
  astroquery/jplhorizons/tests/data/README
  astroquery/jplhorizons/tests/data/tlist_error.txt
  astroquery/jplhorizons/tests/test_jplhorizons.py
Labels: jplhorizons, cache

#2186 Adding python 3.10 to CI
  .github/workflows/ci_tests.yml
  .readthedocs.yaml
  conftest.py
  setup.cfg
  tox.ini
Labels: testing, no-changelog-entry-needed
