Repository astropy/astroquery, pull requests merged in 2021-09, with the labels that each got.

#2144 Small changes to JPLspec
  CHANGES.rst
  astroquery/exceptions.py
  astroquery/jplspec/core.py
  astroquery/jplspec/lookup_table.py
Labels: jplspec

#2149 SkyView: raise errors when bad HTTP codes returned
  astroquery/skyview/core.py
Labels: skyview, no-changelog-entry-needed

#2143 CDMS interface
  .rtd-environment.yml
  CHANGES.rst
  astroquery/linelists/__init__.py
  astroquery/linelists/cdms/__init__.py
  astroquery/linelists/cdms/core.py
  astroquery/linelists/cdms/data/catdir.cat
  astroquery/linelists/cdms/setup_package.py
  astroquery/linelists/cdms/tests/__init__.py
  astroquery/linelists/cdms/tests/data/CO.data
  astroquery/linelists/cdms/tests/test_cdms.py
  astroquery/linelists/cdms/tests/test_cdms_remote.py
  docs/index.rst
  docs/jplspec/jplspec.rst
  docs/linelists/cdms/cdms.rst
  setup.cfg
Labels: New Service, merge-when-ci-passes

#2152 Allow a frame specification in query_region_async for VizieR queries
  CHANGES.rst
  astroquery/vizier/core.py
  astroquery/vizier/tests/test_vizier_remote.py
Labels: vizier

#2158 Allow non image data to be retrieved
  CHANGES.rst
  README.rst
  astroquery/casda/core.py
  astroquery/casda/tests/data/datalink_noaccess.xml
  astroquery/casda/tests/test_casda.py
  docs/casda/casda.rst
Labels: casda

#2155 Remove `astroquery.utils.decorators`
  astroquery/cadc/core.py
  astroquery/utils/decorators.py
Labels: cleanup

#2160 Deprecate `astroquery.utils.commons.send_request`
  astroquery/utils/commons.py
  astroquery/utils/tests/test_utils.py
Labels: cleanup, utils

#2163 MNT: Bump minversion of astropy and numpy
  CHANGES.rst
  README.rst
  docs/index.rst
  setup.cfg
  tox.ini
Labels: infrastructure
