Repository astropy/astroquery, pull requests merged in 2021-07, with the labels that each got.

#2020 ALMA: Use astroquery's download tools
  astroquery/alma/core.py
Labels: alma, no-changelog-entry-needed

#2101 Enabling rst docs testing
  setup.cfg
  tox.ini
Labels: infrastructure, no-changelog-entry-needed, testing

#2102 Drop python3.6
  .github/workflows/ci_tests.yml
  CHANGES.rst
  README.rst
  docs/index.rst
  tox.ini
Labels: infrastructure, merge-when-ci-passes

#1964 Irsa doc cleanup
  docs/irsa/irsa.rst
  docs/irsa_dust/irsa_dust.rst
Labels: Documentation, irsa, merge-when-ci-passes, no-changelog-entry-needed

#1967 Nasa_exoplanet_archive documentation cleanup
  docs/nasa_ads/nasa_ads.rst
  docs/nasa_exoplanet_archive/nasa_exoplanet_archive.rst
Labels: merge-when-ci-passes, nasa_ads, nasa_exoplanet_archive, no-changelog-entry-needed

#2078 Obs id download
  CHANGES.rst
  astroquery/esasky/__init__.py
  astroquery/esasky/core.py
  astroquery/esasky/tests/test_esasky_remote.py
  docs/esasky/esasky.rst
Labels: esasky

#2098 fix a small bug from #2020
  astroquery/alma/core.py
Labels: Affects-dev, alma, bug

#2105 Enabled INTEGRAL download
  CHANGES.rst
  astroquery/esasky/core.py
  astroquery/esasky/tests/test_esasky_remote.py
Labels: esasky

#1837 Add NoResultWarning for empty table in sha
  CHANGES.rst
  astroquery/sha/core.py
  astroquery/sha/tests/test_sha_remote.py
Labels: hacktoberfest-accepted, sha

#2117 TMP: revert remote doctest for nasa_exoplanet_archive
  docs/nasa_exoplanet_archive/nasa_exoplanet_archive.rst
Labels: Documentation, nasa_exoplanet_archive, no-changelog-entry-needed

#2116 Use HTTPS for vao.stsci.edu
  astroquery/vo_conesearch/validator/__init__.py
  astroquery/vo_conesearch/validator/tstquery.py
Labels: Upstream, vo_conesearch

#2119 Fail sphinx build on warnings
  astroquery/alma/core.py
  astroquery/esa/xmm_newton/core.py
  astroquery/esasky/core.py
  docs/conf.py
  docs/index.rst
  docs/nasa_exoplanet_archive/nasa_exoplanet_archive.rst
  readthedocs.yml
Labels: Documentation, no-changelog-entry-needed

#2118 Revert temporary doctest remote-data removal, and fix code blocks
  docs/irsa/irsa.rst
  docs/irsa_dust/irsa_dust.rst
  docs/nasa_exoplanet_archive/nasa_exoplanet_archive.rst
  setup.cfg
Labels: Documentation, nasa_exoplanet_archive, no-changelog-entry-needed
