Repository astropy/astroquery, pull requests merged in 2022-06, with the labels that each got.

#2428 Add version information for casda features
  docs/casda/casda.rst
Labels: Documentation, no-changelog-entry-needed, casda

#2427 TST: add usage of pytest-rerunfailures for remote-tests
  .github/workflows/ci_crontests.yml
  tox.ini
Labels: testing, infrastructure, no-changelog-entry-needed

#2423 BUG: Fix OAC parsing issue
  CHANGES.rst
  astroquery/oac/core.py
  astroquery/oac/tests/test_oac_remote.py
Labels: bug, oac

#2376 Gaia astroquery 1.1
  CHANGES.rst
  astroquery/gaia/core.py
  astroquery/gaia/tests/test_gaiatap.py
Labels: gaia

#2418 jplhorizons cleanup 2022.05
  CHANGES.rst
  astroquery/jplhorizons/core.py
  astroquery/jplhorizons/tests/data/README
  astroquery/jplhorizons/tests/data/ceres_elements_range.txt
  astroquery/jplhorizons/tests/data/ceres_elements_single.txt
  astroquery/jplhorizons/tests/data/ceres_ephemerides_range.txt
  astroquery/jplhorizons/tests/data/ceres_ephemerides_single.txt
  astroquery/jplhorizons/tests/data/ceres_vectors_range.txt
  astroquery/jplhorizons/tests/data/ceres_vectors_single.txt
  astroquery/jplhorizons/tests/test_jplhorizons.py
  astroquery/jplhorizons/tests/test_jplhorizons_remote.py
  docs/jplhorizons/jplhorizons.rst
Labels: jplhorizons

#2439 MAINT: Run all crontests even if they fail
  .github/workflows/ci_crontests.yml
Labels: testing, no-changelog-entry-needed

#2425 MAINT: remove xfail from passing test
  astroquery/alma/tests/test_alma_remote.py
Labels: bug, alma

#2444 Perform unit conversion in `svo_fps` `get_filter_index()`
  CHANGES.rst
  astroquery/svo_fps/core.py
  astroquery/svo_fps/tests/test_svo_fps.py
  astroquery/svo_fps/tests/test_svo_fps_remote.py
Labels: svo_fps

#2445 TST: Fix typo in workflow name
  .github/workflows/ci_crontests.yml
Labels: no-changelog-entry-needed

#2446 Validate `svo_fps` query parameter names locally
  CHANGES.rst
  astroquery/svo_fps/core.py
  astroquery/svo_fps/tests/test_svo_fps.py
  astroquery/svo_fps/tests/test_svo_fps_remote.py
Labels: svo_fps

#2448 docfix: MAST Catalogs broken links
  astroquery/mast/collections.py
Labels: no-changelog-entry-needed, mast

#2452 Fixing typo in cloud.py's CloudAccess() class variable call
  astroquery/mast/cloud.py
Labels: no-changelog-entry-needed, mast

#2455 DOC: updating NED's narrative docs examples
  docs/ipac/ned/ned.rst
Labels: Documentation, ipac.ned, no-changelog-entry-needed

#2451 ESA_JWST-doc-update: actual examples in JWST module
  docs/esa/jwst/jwst.rst
Labels: Documentation, no-changelog-entry-needed, esa.jwst
