Repository astropy/astroquery, pull requests merged in 2022-02, with the labels that each got.

#2274 Issue #2273
  astroquery/query.py
Labels: testing, infrastructure

#2283 Enable testing examples in `Gaia` documentation
  docs/gaia/gaia.rst
Labels: no-changelog-entry-needed, gaia

#2279 Add PLATO to Catalogs
  CHANGES.rst
  astroquery/mast/collections.py
  astroquery/mast/tests/test_mast_remote.py
  docs/mast/mast.rst
Labels: enhancement, mast

#1974 Hips2fits documentation cleanup
  docs/hips2fits/hips2fits.rst
Labels: no-changelog-entry-needed, merge-when-ci-passes, hips2fits

#1976 Nist documentation cleanup
  docs/nist/nist.rst
Labels: nist, no-changelog-entry-needed

#1948 Gemini documentation clean up
  docs/gemini/gemini.rst
Labels: Documentation, no-changelog-entry-needed, gemini

#1947 Dace documentation cleanup
  docs/dace/dace.rst
Labels: Documentation, no-changelog-entry-needed, merge-when-ci-passes, dace

#2299 Make `astroquery/utils/tap/model/job.Job.save_results()` obey `verbose` setting
  CHANGES.rst
  astroquery/utils/tap/model/job.py
  astroquery/utils/tap/model/tests/test_job.py
Labels: utils.tap

#1977 Sdss documentaion cleanup
  docs/sdss/sdss.rst
Labels: no-changelog-entry-needed

#2289 Fix `astroquery.utils.system_tools.in_ipynb()`
  astroquery/utils/system_tools.py
Labels: utils

#1966 Mpc documentation cleanup
  docs/mpc/mpc.rst
Labels: no-changelog-entry-needed, mpc

#1944 Exoplanet doc cleanup
  docs/exoplanet_orbit_database/exoplanet_orbit_database.rst
Labels: no-changelog-entry-needed, exoplanet_orbit_database

#1945 Fermi doc cleanup
  docs/fermi/fermi.rst
Labels: no-changelog-entry-needed, fermi

#2095 Missions mast
  .mailmap
  CHANGES.rst
  astroquery/mast/__init__.py
  astroquery/mast/missions.py
  astroquery/mast/services.py
  astroquery/mast/tests/data/mission_incorrect_results.json
  astroquery/mast/tests/data/mission_results.json
  astroquery/mast/tests/test_mast.py
  docs/mast/mast.rst
Labels: mast

#1987 Remote test for Ogle
  astroquery/ogle/tests/test_ogle_remote.py
Labels: no-changelog-entry-needed, ogle

#2308 Exclude query parameters from file names is casda.download_file
  CHANGES.rst
  astroquery/casda/core.py
  astroquery/casda/tests/test_casda.py
Labels: bug, casda

#2304 Fix remaining issues with spectra Sdss.query_crossid
  CHANGES.rst
  astroquery/sdss/core.py
  astroquery/sdss/tests/test_sdss_remote.py
Labels: bug, sdss

#2306 Refactor `astroquery/utils/system_tools.py` and its tests
  astroquery/utils/system_tools.py
  astroquery/utils/tests/test_system_tools.py
Labels: cleanup, utils, no-changelog-entry-needed

#2305 Large crossid queries
  CHANGES.rst
  astroquery/sdss/core.py
  astroquery/sdss/tests/test_sdss_remote.py
Labels: bug, sdss

#1946 Gama documentation clean up
  docs/gama/gama.rst
Labels: gama, no-changelog-entry-needed
