Repository astropy/astroquery, pull requests merged in 2022-01, with the labels that each got.

#2257 (Minor fix)eJWST - remove login_gui method from documentation
  CHANGES.rst
  astroquery/esa/jwst/core.py
  astroquery/esa/jwst/data_access.py
  astroquery/esa/jwst/tests/test_jwsttap.py
  docs/esa/jwst.rst
Labels: no-changelog-entry-needed, esa.jwst

#2251 Xmm proprietary data
  CHANGES.rst
  astroquery/esa/xmm_newton/__init__.py
  astroquery/esa/xmm_newton/core.py
  astroquery/esa/xmm_newton/tests/data/dummy_config.ini
  astroquery/esa/xmm_newton/tests/setup_package.py
  astroquery/esa/xmm_newton/tests/test_xmm_newton.py
  astroquery/esa/xmm_newton/tests/test_xmm_newton_remote.py
  docs/esa/xmm_newton.rst
Labels: xmm_newton

#2258 Fix SDSS CrossID method not working for spec data and for DR17 (photo and spec)
  astroquery/sdss/core.py
  astroquery/sdss/tests/test_sdss_remote.py
Labels: sdss

#2193 monkey patch services
  astroquery/mast/discovery_portal.py
  astroquery/mast/observations.py
  astroquery/mast/services.py
Labels: mast

#2265 Update module lists in documentation
  README.rst
  docs/index.rst
  docs/solarsystem/solarsystem.rst
Labels: Documentation, no-changelog-entry-needed

#2121 MAST: Moving target TESScut
  astroquery/mast/cutouts.py
  astroquery/mast/tests/test_mast.py
  astroquery/mast/tests/test_mast_remote.py
  docs/mast/mast.rst
Labels: mast

#2270 Changelog update for PR #2121
  CHANGES.rst
Labels: no-changelog-entry-needed
