Repository astropy/astroquery, pull requests merged in 2022-03, with the labels that each got.

#1975 Mast doc cleanup
  docs/mast/mast.rst
Labels: no-changelog-entry-needed, mast

#2310 Fix fixture usage for remote test
  astroquery/alma/tests/test_alma_remote.py
Labels: testing, alma, no-changelog-entry-needed, merge-when-ci-passes

#2314 NED: fixing failing docs examples
  docs/ipac/ned/ned.rst
Labels: Documentation, ipac.ned, no-changelog-entry-needed

#2268 Hubble related members
  CHANGES.rst
  astroquery/esa/hubble/core.py
  astroquery/esa/hubble/tests/test_esa_hubble.py
  astroquery/esa/hubble/tests/test_esa_hubble_remote.py
  docs/esa/hubble.rst
Labels: esa.esa_hubble

#2319 Decode plus signs in filenames when downloading
  astroquery/casda/core.py
  astroquery/casda/tests/test_casda.py
Labels: bug, casda

#2318 Fix cross-id for very old data releases
  CHANGES.rst
  astroquery/sdss/core.py
  astroquery/sdss/tests/test_sdss.py
  astroquery/sdss/tests/test_sdss_remote.py
Labels: bug, sdss

#2264 Fix_issue_2239: Nasa Exoplanet Archive query_object method suddenly produces InvalidTableError
  CHANGES.rst
  astroquery/ipac/nexsci/nasa_exoplanet_archive/__init__.py
  astroquery/ipac/nexsci/nasa_exoplanet_archive/core.py
  astroquery/ipac/nexsci/nasa_exoplanet_archive/tests/data/bpic_aliaslookup.json
  astroquery/ipac/nexsci/nasa_exoplanet_archive/tests/test_nasa_exoplanet_archive.py
  astroquery/ipac/nexsci/nasa_exoplanet_archive/tests/test_nasa_exoplanet_archive_remote.py
  docs/ipac/nexsci/nasa_exoplanet_archive.rst
Labels: Upstream, ipac.nexsci.nasa_exoplanet_archive

#2317 Make `astroquery.mast` methods take explicit kwargs
  CHANGES.rst
  astroquery/mast/collections.py
  astroquery/mast/cutouts.py
  astroquery/mast/observations.py
  astroquery/mast/tests/test_mast_remote.py
Labels: mast, refactor

#2321 Missions mast
  astroquery/mast/missions.py
  astroquery/mast/services.py
  astroquery/mast/tests/data/mission_incorrect_results.json
  astroquery/mast/tests/test_mast.py
  docs/mast/mast.rst
Labels: mast, Affects-dev

#2315 Additional MAST docs test update
  docs/mast/mast.rst
Labels: no-changelog-entry-needed, mast

#2263 ALMA: add option to just validate data
  CHANGES.rst
  astroquery/alma/core.py
  astroquery/alma/tests/test_alma_remote.py
  astroquery/exceptions.py
  docs/alma/alma.rst
Labels: alma

#2326 Fix in the cadc module in anticipation of coming changes to the servers
  astroquery/cadc/core.py
  astroquery/cadc/tests/test_cadctap.py
  astroquery/cadc/tests/test_cadctap_remote.py
Labels: no-changelog-entry-needed, cadc

#2311 Move functionality from gaia/core.py to utils/tap/core.py.
  astroquery/gaia/core.py
  astroquery/utils/tap/core.py
  astroquery/utils/tap/taputils.py
Labels: no-changelog-entry-needed, gaia, utils.tap

#1935 Alma documentation cleanup
  docs/alma/alma.rst
Labels: Documentation, alma, no-changelog-entry-needed

#2309 Alma deprecation cleanup
  CHANGES.rst
  astroquery/alma/core.py
  astroquery/alma/tests/test_alma_remote.py
  docs/alma/alma.rst
Labels: cleanup, alma

#2332 Deprecate functions from alma.utils
  CHANGES.rst
  astroquery/alma/tests/test_alma_utils.py
  astroquery/alma/utils.py
Labels: cleanup, alma

#2330 Cleanup prior release 0.4.6
  .gitignore
  .mailmap
  LICENSE.rst
  README.rst
  docs/index.rst
Labels: cleanup, no-changelog-entry-needed

#2250 Fixed failing test in HEASARC module, adding local test data
  astroquery/heasarc/core.py
  astroquery/heasarc/tests/data/0f36aba7.dat
  astroquery/heasarc/tests/data/157a5015.dat
  astroquery/heasarc/tests/data/26550aeb.dat
  astroquery/heasarc/tests/data/29872e7f.dat
  astroquery/heasarc/tests/data/2f018503.dat
  astroquery/heasarc/tests/data/31b1e555.dat
  astroquery/heasarc/tests/data/404652d5.dat
  astroquery/heasarc/tests/data/4511b20b.dat
  astroquery/heasarc/tests/data/63035ed0.dat
  astroquery/heasarc/tests/data/69b39684.dat
  astroquery/heasarc/tests/data/8eb05834.dat
  astroquery/heasarc/tests/data/abc93c4d.dat
  astroquery/heasarc/tests/data/b493ec2a.dat
  astroquery/heasarc/tests/data/bca1ec4b.dat
  astroquery/heasarc/tests/data/f6d793e8.dat
  astroquery/heasarc/tests/data/ff1f8d6a.dat
  astroquery/heasarc/tests/data/last-month-integral_rev3_scw.dat
  astroquery/heasarc/tests/data/last-month-intscw.dat
  astroquery/heasarc/tests/parametrization.py
  astroquery/heasarc/tests/setup_package.py
  astroquery/heasarc/tests/test_heasarc_remote.py
  astroquery/heasarc/tests/test_heasarc_remote_isdc.py
  astroquery/utils/commons.py
Labels: bug, heasarc, no-changelog-entry-needed

#1943 Casda doc clean up
  docs/casda/casda.rst
Labels: no-changelog-entry-needed, casda

#2324 update domain in NOIRlab docs from noao.edu to noirlab.edu
  docs/noirlab/noirlab.rst
Labels: bug, Documentation, no-changelog-entry-needed, noirlab

#2337 Various remote-data docs fixes
  docs/heasarc/heasarc.rst
  docs/hitran/hitran.rst
  docs/ipac/irsa/sha/sha.rst
  docs/lamda/lamda.rst
  docs/linelists/cdms/cdms.rst
  docs/nrao/nrao.rst
  docs/ogle/ogle.rst
  docs/skyview/skyview.rst
Labels: Documentation, no-changelog-entry-needed

#2343 Remove outdated, unused old notebook
  docs/demos/Astroquery_DotAstro_Demo.ipynb
Labels: Documentation, no-changelog-entry-needed

#2350 Verify SSL certificates for FIRST, MAGPIS
  astroquery/image_cutouts/first/core.py
  astroquery/magpis/core.py
Labels: no-changelog-entry-needed, magpis, image_cutouts.first

#2351 Issue #2344: test fixed, examples in doc tested and updated
  astroquery/esa/iso/__init__.py
  astroquery/esa/iso/core.py
  astroquery/esa/iso/tests/__init__.py
  astroquery/esa/iso/tests/dummy_handler.py
  astroquery/esa/iso/tests/dummy_tap_handler.py
  astroquery/esa/iso/tests/setup_package.py
  astroquery/esa/iso/tests/test_iso.py
  docs/esa/iso.rst
Labels: testing, no-changelog-entry-needed, esa.iso

#2346 MNT: fixing more remote tests
  astroquery/eso/tests/test_eso_remote.py
  docs/gaia/gaia.rst
Labels: Documentation, eso, testing, no-changelog-entry-needed, gaia

#2339 Fix atomic caching infinite loop
  astroquery/atomic/core.py
Labels: bug, atomic

#1937 Atomic documentation clean up
  astroquery/atomic/core.py
  docs/atomic/atomic.rst
Labels: no-changelog-entry-needed, atomic

#2347 freeze degree string representation
  astroquery/heasarc/core.py
  astroquery/heasarc/tests/data/10f92917.dat
  astroquery/heasarc/tests/data/6ad7a587.dat
  astroquery/heasarc/tests/data/6df5af53.dat
  astroquery/heasarc/tests/data/eb62ea7d.dat
  astroquery/heasarc/tests/data/f3778475.dat
  astroquery/heasarc/tests/parametrization.py
  astroquery/heasarc/tests/test_heasarc_remote.py
  astroquery/heasarc/tests/test_heasarc_remote_isdc.py
Labels: heasarc, Affects-dev
