Repository astropy/astroquery, pull requests merged in 2022-10, with the labels that each got.

#2520 TST: fix warnings and stop ignoring them
  astroquery/alfalfa/tests/test_alfalfa.py
  astroquery/besancon/tests/test_besancon.py
  astroquery/cadc/tests/test_cadctap.py
  astroquery/cadc/tests/test_cadctap_remote.py
  astroquery/casda/tests/test_casda.py
  astroquery/eso/tests/test_eso_remote.py
  astroquery/exoplanet_orbit_database/exoplanet_orbit_database.py
  astroquery/heasarc/tests/test_heasarc_remote_isdc.py
  astroquery/ipac/irsa/ibe/core.py
  astroquery/ipac/irsa/sha/tests/test_sha.py
  astroquery/ipac/irsa/tests/test_irsa_remote.py
  astroquery/ipac/ned/tests/test_ned.py
  astroquery/ipac/nexsci/nasa_exoplanet_archive/core.py
  astroquery/mast/tests/test_mast.py
  astroquery/mpc/core.py
  astroquery/nvas/tests/test_nvas.py
  astroquery/ogle/tests/test_ogle.py
  astroquery/sdss/core.py
  astroquery/sdss/tests/test_sdss.py
  astroquery/simbad/tests/test_simbad.py
  astroquery/ukidss/tests/test_ukidss.py
  astroquery/vamdc/core.py
  astroquery/vizier/tests/test_vizier.py
  docs/cadc/cadc.rst
  docs/ipac/irsa/irsa.rst
  setup.cfg
Labels: testing, infrastructure, no-changelog-entry-needed

#2331 Thin out & refactor astroquery.alma.utils
  CHANGES.rst
  astroquery/alma/utils.py
Labels: alma

#2541 ENH: CADC: fix the ability to pass on Path objects as `output_file`
  CHANGES.rst
  astroquery/cadc/core.py
  astroquery/cadc/tests/test_cadctap.py
Labels: bug, cadc

#2550 Disabled FITS & UnitsWarnings by default for ESASky module
  astroquery/esasky/core.py
Labels: esasky, no-changelog-entry-needed

#2554 Fix for #2553: incorrect keyword in ALMA doc example
  docs/alma/alma.rst
Labels: Documentation, alma, changed remote API, no-changelog-entry-needed

#2558 Remove `*CoordGenerator` classes
  astroquery/heasarc/tests/conftest.py
  astroquery/heasarc/tests/test_heasarc_remote.py
  astroquery/heasarc/tests/test_heasarc_remote_isdc.py
  astroquery/image_cutouts/first/tests/test_first.py
  astroquery/ipac/irsa/irsa_dust/core.py
  astroquery/ipac/irsa/irsa_dust/tests/test_irsa_dust.py
  astroquery/ipac/irsa/tests/test_irsa.py
  astroquery/ipac/ned/tests/test_ned.py
  astroquery/magpis/tests/test_magpis.py
  astroquery/nvas/tests/test_nvas.py
  astroquery/sdss/tests/test_sdss.py
  astroquery/simbad/tests/test_simbad.py
  astroquery/skyview/tests/test_skyview.py
  astroquery/ukidss/tests/test_ukidss.py
  astroquery/utils/commons.py
  astroquery/vizier/tests/conftest.py
  astroquery/vizier/tests/test_vizier.py
  astroquery/vizier/tests/test_vizier_remote.py
Labels: cleanup, no-changelog-entry-needed

#2561 Colorize `pytest` output
  setup.cfg
Labels: testing, infrastructure, no-changelog-entry-needed

#2557 CI: update actions versions
  .github/workflows/ci_crontests.yml
  .github/workflows/ci_devtests.yml
  .github/workflows/ci_tests.yml
Labels: testing, infrastructure, no-changelog-entry-needed
