Repository astropy/astroquery, pull requests merged in 2022-09, with the labels that each got.

#2490 BUG: Fix for broken alma downloader
  CHANGES.rst
  astroquery/alma/core.py
  astroquery/alma/tests/test_alma_remote.py
Labels: bug, alma

#2497 Cull duplicate dataURIs for MAST in download_products
  CHANGES.rst
  astroquery/exceptions.py
  astroquery/mast/observations.py
  astroquery/mast/tests/test_mast_remote.py
Labels: bug, mast

#2509 Remove default wavelength limits from `svo_fps` `get_filter_index()`
  CHANGES.rst
  astroquery/svo_fps/core.py
  astroquery/svo_fps/tests/test_svo_fps.py
  docs/svo_fps/svo_fps.rst
Labels: bug, svo_fps

#2510 Log a warning if there are download duplicates for MAST
  astroquery/exceptions.py
  astroquery/mast/observations.py
  astroquery/mast/tests/test_mast_remote.py
Labels: mast

#2512 DOC: ESA Docs Updates
  docs/esa/iso/iso.rst
  docs/esa/jwst/jwst.rst
  docs/esa/xmm_newton/xmm_newton.rst
Labels: Documentation, no-changelog-entry-needed, esa.xmm_newton, esa, esa.jwst, esa.iso

#2511 MAST: Add flat option to Observations.download_products
  CHANGES.rst
  astroquery/mast/observations.py
  astroquery/mast/tests/test_mast_remote.py
Labels: mast

#2515 CI: Using nightly wheels for devdeps
  tox.ini
Labels: testing, infrastructure, no-changelog-entry-needed

#2477 Convert query_region to cone search
  CHANGES.rst
  astroquery/sdss/core.py
  astroquery/sdss/tests/test_sdss.py
  astroquery/sdss/tests/test_sdss_remote.py
Labels: sdss

#2478 Modifying astroquery/sdss package init file to use most current SDSS DR (as well as associated documentation)
  CHANGES.rst
  astroquery/sdss/__init__.py
  astroquery/sdss/core.py
  astroquery/sdss/tests/test_sdss_remote.py
  docs/sdss/sdss.rst
Labels: sdss

#2519 DOC: Fixing online test failure for lamda
  astroquery/lamda/tests/test_lamda_remote.py
  docs/lamda/lamda.rst
Labels: no-changelog-entry-needed, lamda

#2517 DOC: Fixing doctest failures for cadc.rst
  docs/cadc/cadc.rst
Labels: Documentation, no-changelog-entry-needed, cadc

#2502 Recommend a better way to mark remote data tests in remote test modules
  astroquery/atomic/tests/test_atomic_remote.py
  docs/testing.rst
Labels: testing, infrastructure, atomic

#2522 TST: Closing files in tests
  astroquery/alfalfa/tests/test_alfalfa.py
  astroquery/besancon/tests/test_besancon.py
  astroquery/casda/tests/test_casda.py
  astroquery/cds/tests/test_mocserver.py
  astroquery/heasarc/tests/parametrization.py
  astroquery/image_cutouts/first/tests/test_first.py
  astroquery/ipac/irsa/ibe/tests/test_ibe.py
  astroquery/ipac/irsa/sha/tests/test_sha.py
  astroquery/ipac/irsa/tests/test_irsa.py
  astroquery/ipac/ned/tests/test_ned.py
  astroquery/magpis/tests/test_magpis.py
  astroquery/mast/tests/test_mast.py
  astroquery/mpc/tests/test_mpc.py
  astroquery/nasa_ads/tests/test_nasaads.py
  astroquery/nist/tests/test_nist.py
  astroquery/nrao/tests/test_nrao.py
  astroquery/nvas/tests/test_nvas.py
  astroquery/oac/tests/test_oac.py
  astroquery/ogle/tests/test_ogle.py
  astroquery/sdss/tests/test_sdss.py
  astroquery/simbad/tests/test_simbad.py
  astroquery/splatalogue/tests/test_splatalogue.py
  astroquery/svo_fps/tests/test_svo_fps.py
  astroquery/ukidss/tests/test_ukidss.py
  astroquery/vizier/tests/test_vizier.py
  docs/testing.rst
  setup.cfg
Labels: testing, no-changelog-entry-needed

#2525 Shorten `esa/jwst` and `gaia` tests
  astroquery/esa/jwst/tests/test_jwsttap.py
  astroquery/gaia/tests/test_gaiatap.py
  astroquery/utils/tap/conn/tests/DummyConn.py
  astroquery/utils/tap/conn/tests/DummyResponse.py
  astroquery/utils/tap/model/tests/test_job.py
  astroquery/utils/tap/tests/test_tap.py
Labels: testing, infrastructure, no-changelog-entry-needed

#2524 Refactored query criteria to use ehst.archive table
  CHANGES.rst
  astroquery/esa/hubble/core.py
  astroquery/esa/hubble/tests/test_esa_hubble.py
  docs/esa/hubble/hubble.rst
Labels: esa.esa_hubble

#2527 CI: Adding online CI job for windows
  .github/workflows/ci_crontests.yml
Labels: testing, infrastructure, no-changelog-entry-needed

#2526 MNT: Fix tests that leave behind files in the repo
  .github/workflows/ci_crontests.yml
  astroquery/alma/tests/test_alma_remote.py
  astroquery/cds/core.py
  astroquery/cds/tests/test_mocserver_remote.py
  astroquery/conftest.py
  astroquery/esa/iso/tests/test_iso.py
  astroquery/esa/xmm_newton/tests/test_xmm_newton_remote.py
  astroquery/esasky/core.py
  astroquery/esasky/tests/test_esasky_remote.py
  astroquery/eso/tests/test_eso_remote.py
  astroquery/fermi/core.py
  astroquery/mast/observations.py
  astroquery/mast/tests/test_mast_remote.py
  astroquery/mpc/tests/test_mpc_remote.py
  astroquery/noirlab/__init__.py
  astroquery/noirlab/core.py
  astroquery/nrao/tests/test_nrao.py
  astroquery/nrao/tests/test_nrao_remote.py
  astroquery/vo_conesearch/validator/tests/test_validate.py
  astroquery/vo_conesearch/validator/validate.py
  docs/conftest.py
  docs/exoplanet_orbit_database/exoplanet_orbit_database.rst
  docs/heasarc/heasarc.rst
  docs/ipac/ned/ned.rst
  docs/jplhorizons/jplhorizons.rst
  docs/mast/mast.rst
Labels: infrastructure, refactor

#2530 Added support for JWST and future missions using zip files
  astroquery/esasky/core.py
Labels: esasky, no-changelog-entry-needed

#2521 MAINT: explicitly stating minimum required python version
  setup.cfg
Labels: infrastructure, no-changelog-entry-needed

#2518 BUG: Fix SDSS parsing to directly use Table.read
  astroquery/sdss/core.py
  astroquery/sdss/tests/test_sdss.py
  setup.cfg
Labels: sdss, no-changelog-entry-needed, refactor

#2532 Restore get_query_payload to all methods
  CHANGES.rst
  astroquery/sdss/core.py
  astroquery/sdss/tests/test_sdss.py
  astroquery/sdss/tests/test_sdss_remote.py
Labels: sdss

#2533 MAINT: add testpaths to config
  setup.cfg
Labels: infrastructure, no-changelog-entry-needed

#2535 BUG: fix for alma timeout
  astroquery/alma/core.py
  astroquery/alma/tests/test_alma.py
  astroquery/alma/tests/test_alma_remote.py
  astroquery/query.py
Labels: bug, alma

#2543 BUG: fixing duplicated timeout kwarg in _download_file
  astroquery/query.py
Labels: bug, Affects-dev, query

#2544 MAINT: fix narrative doctests
  docs/dace/dace.rst
  docs/eso/eso.rst
  docs/jplsbdb/jplsbdb.rst
Labels: Documentation, no-changelog-entry-needed

#2546 MAINT: removal of the currently non-functional nrao module
  CHANGES.rst
  astroquery/nrao/__init__.py
  astroquery/nrao/core.py
  astroquery/nrao/tests/__init__.py
  astroquery/nrao/tests/data/archive_html.html
  astroquery/nrao/tests/data/votable.xml
  astroquery/nrao/tests/setup_package.py
  astroquery/nrao/tests/test_nrao.py
  astroquery/nrao/tests/test_nrao_remote.py
  docs/index.rst
  docs/nrao/nrao.rst
Labels: nrao
