Repository astropy/astroquery, pull requests merged in 2022-07, with the labels that each got.

#2459 Setting API key for astroquery.astrometry_net
  docs/astrometry_net/astrometry_net.rst
Labels: Documentation, no-changelog-entry-needed, astrometry.net

#2461 Esa hst fixing tests
  astroquery/esa/hsa/tests/test_hsa.py
  astroquery/esa/hubble/tests/test_esa_hubble.py
  astroquery/esa/hubble/tests/test_esa_hubble_remote.py
  astroquery/esa/xmm_newton/tests/test_xmm_newton.py
  astroquery/esasky/tests/test_esasky_remote.py
Labels: esasky, no-changelog-entry-needed, esa.esa_hubble, esa.xmm_newton, esa.hsa

#2457 BUG: alma fixes for list of keywords, fixes #2094
  CHANGES.rst
  astroquery/alma/tapsql.py
  astroquery/alma/tests/test_alma.py
Labels: bug, alma

#2465 Removed temp files once they are no longer needed from hubble and xmm
  astroquery/esa/hubble/tests/test_esa_hubble.py
  astroquery/esa/xmm_newton/tests/test_xmm_newton.py
  astroquery/esasky/tests/test_esasky_remote.py
Labels: testing, no-changelog-entry-needed, esa.esa_hubble, esa.xmm_newton

#2472 Change RMF matrices version
  astroquery/esa/xmm_newton/core.py
Labels: no-changelog-entry-needed, esa.xmm_newton

#2468 TST: `xmatch` test improvements
  astroquery/xmatch/tests/test_xmatch.py
  astroquery/xmatch/tests/test_xmatch_remote.py
Labels: testing, xmatch, no-changelog-entry-needed
