Repository astropy/astroquery, pull requests merged in 2023-11, with the labels that each got.

#2872 Update action version
  .github/workflows/codeql-analysis.yml
Labels: no-changelog-entry-needed

#2873 Minor bug when formatting tables
  astroquery/esa/jwst/core.py
Labels: no-changelog-entry-needed, esa.jwst

#2874 DEP: removing deprecated astropy usage
  astroquery/nist/core.py
Labels: cleanup, nist, no-changelog-entry-needed

#2859 Esa gaia gaiapcr 1290 include the new data link linking parameter
  CHANGES.rst
  astroquery/gaia/core.py
  astroquery/gaia/tests/test_gaiatap.py
  docs/gaia/gaia.rst
Labels: gaia

#2877 TST: we should not xfail but fail the tests if server is not available
  astroquery/vsa/tests/test_vista_remote.py
Labels: testing, no-changelog-entry-needed, vsa

#2880 BUG: SDSS object IDs to use uint64
  CHANGES.rst
  astroquery/sdss/core.py
  astroquery/sdss/tests/test_sdss.py
Labels: bug, sdss

#2883 BUG: update docs build commands in tox
  tox.ini
Labels: bug, testing, no-changelog-entry-needed
