Repository astropy/astroquery, pull requests merged in 2023-04, with the labels that each got.

#2697 BUG: fix url for splatalogue
  docs/splatalogue/splatalogue.rst
Labels: Documentation, no-changelog-entry-needed

#2700 Update vizier default url
  astroquery/vizier/__init__.py
Labels: vizier, no-changelog-entry-needed

#2690 Make utils and utis/tap kwargs keyword only
  astroquery/esa/hubble/core.py
  astroquery/esa/jwst/core.py
  astroquery/esa/jwst/tests/test_jwsttap.py
  astroquery/gaia/core.py
  astroquery/gaia/tests/test_gaiatap.py
  astroquery/sdss/tests/test_sdss.py
  astroquery/utils/commons.py
  astroquery/utils/docstr_chompers.py
  astroquery/utils/mocks.py
  astroquery/utils/process_asyncs.py
  astroquery/utils/progressbar.py
  astroquery/utils/schema.py
  astroquery/utils/tap/conn/tapconn.py
  astroquery/utils/tap/conn/tests/test_conn.py
  astroquery/utils/tap/core.py
  astroquery/utils/tap/model/job.py
  astroquery/utils/tap/model/modelutils.py
  astroquery/utils/tap/tests/test_tap.py
  astroquery/utils/tap/xmlparser/jobListSaxParser.py
  astroquery/utils/tap/xmlparser/jobSaxParser.py
  astroquery/utils/tap/xmlparser/utils.py
  astroquery/utils/timer.py
  astroquery/vo_conesearch/conesearch.py
  astroquery/vo_conesearch/validator/validate.py
Labels: utils, utils.tap

#2701 Add Simbad example about object types criteria
  docs/simbad/simbad.rst
Labels: Documentation, simbad, no-changelog-entry-needed

#2705 MAINT: remove unused and otherwise unsupported dependency
  tox.ini
Labels: infrastructure, no-changelog-entry-needed

#2696 Revert kwarg-only function arguments for splatalogue
  astroquery/splatalogue/core.py
  astroquery/splatalogue/data/splat-species.json
  astroquery/splatalogue/load_species_table.py
  docs/splatalogue/splatalogue.rst
Labels: splatalogue, no-changelog-entry-needed

#2710 CI: moving cronjob to Friday
  .github/workflows/ci_crontests.yml
Labels: infrastructure, no-changelog-entry-needed

#2703 Refactors: Make kwargs keyword only for remaining packages
  astroquery/vo_conesearch/validator/inspect.py
  astroquery/vo_conesearch/validator/tstquery.py
  astroquery/vo_conesearch/validator/validate.py
  astroquery/vo_conesearch/vo_async.py
  astroquery/vo_conesearch/vos_catalog.py
Labels: cleanup

#2657 Remove all uses of `cgi`
  astroquery/esa/hsa/core.py
  astroquery/esa/iso/core.py
  astroquery/esa/xmm_newton/core.py
  setup.cfg
Labels: cleanup, esa

#2722 DOC: removing links legacy notebooks
  docs/alma/alma.rst
Labels: Documentation, alma, no-changelog-entry-needed

#2719 BUG: fix parsing by filtering out junk lines
  astroquery/jplspec/core.py
  docs/jplspec/jplspec.rst
Labels: bug, jplspec

#2663 Restore rectangle search
  CHANGES.rst
  astroquery/sdss/core.py
  astroquery/sdss/tests/test_sdss.py
  astroquery/sdss/tests/test_sdss_remote.py
  docs/sdss/sdss.rst
Labels: sdss

#2724 Fix field name in Horizons.ephemerides docstring
  astroquery/jplhorizons/core.py
Labels: Documentation, no-changelog-entry-needed, jplhorizons
