Repository astropy/astroquery, pull requests merged in 2023-09, with the labels that each got.

#2825 update vizier keywords lists
  astroquery/vizier/data/inverse_dict.json
  astroquery/vizier/data/keywords_dict.json
Labels: vizier, no-changelog-entry-needed

#2826 TST: fix toplevel conftest
  conftest.py
Labels: testing, no-changelog-entry-needed

#2829 update cds domain
  README.rst
  astroquery/hips2fits/__init__.py
  astroquery/hips2fits/core.py
  astroquery/ipac/ned/core.py
  astroquery/simbad/__init__.py
  astroquery/simbad/core.py
  astroquery/simbad/get_votable_fields.py
  astroquery/utils/tests/test_utils.py
  docs/casda/casda.rst
  docs/gaia/gaia.rst
  docs/hips2fits/hips2fits.rst
  docs/ipac/ned/ned.rst
  docs/simbad/simbad.rst
  docs/utils/tap.rst
  docs/vizier/vizier.rst
  docs/vo_conesearch/client.rst
  docs/vo_conesearch/validator.rst
Labels: Documentation, no-changelog-entry-needed, cds

#2833 MAINT: fix various remote_data failures
  astroquery/lamda/core.py
  docs/cadc/cadc.rst
  docs/index.rst
  docs/ipac/irsa/most.rst
  docs/ipac/ned/ned.rst
Labels: no-changelog-entry-needed

#2807 Fixes in JWST login
  CHANGES.rst
  astroquery/esa/jwst/core.py
  astroquery/esa/jwst/tests/DummyTapHandler.py
  astroquery/esa/jwst/tests/test_jwstdata.py
  astroquery/esa/jwst/tests/test_jwsttap.py
  astroquery/utils/tap/conn/tests/DummyConnHandler.py
  astroquery/utils/tap/conn/tests/DummyResponse.py
  astroquery/utils/tap/core.py
  astroquery/utils/tap/tests/test_tap.py
  docs/esa/jwst/jwst.rst
Labels: esa.jwst

#2836 ENH: adding minimalist BaseVOQuery baseclass
  CHANGES.rst
  astroquery/alma/core.py
  astroquery/cadc/core.py
  astroquery/ipac/irsa/core.py
  astroquery/ipac/nexsci/nasa_exoplanet_archive/core.py
  astroquery/query.py
  astroquery/tests/test_query.py
Labels: query
