Repository astropy/astroquery, pull requests merged in 2023-12, with the labels that each got.

#2878 Add a method to access a vizier catalog's metadata information
  CHANGES.rst
  astroquery/vizier/core.py
  astroquery/vizier/tests/test_vizier.py
  astroquery/vizier/tests/test_vizier_remote.py
  docs/vizier/vizier.rst
Labels: vizier

#2891 docs: update get_catalog_metadata output table field names
  docs/vizier/vizier.rst
Labels: Documentation, vizier, no-changelog-entry-needed

#2894 DOC: update error message of gaia for overwrite
  astroquery/gaia/core.py
Labels: no-changelog-entry-needed, gaia

#2893 astroquery.mast : adding cloud support for Pan-STARRS mission
  CHANGES.rst
  astroquery/mast/cloud.py
  astroquery/mast/tests/test_mast_remote.py
  docs/mast/mast_obsquery.rst
Labels: mast

#2892 BUG: Fix issues related to kwarg only changes in utils.tap
  astroquery/esa/hubble/core.py
  astroquery/esa/hubble/tests/test_esa_hubble.py
  astroquery/esa/hubble/tests/test_esa_hubble_remote.py
  astroquery/esa/jwst/core.py
  astroquery/esa/jwst/tests/test_jwsttap.py
  astroquery/utils/tap/conn/tapconn.py
  astroquery/utils/tap/core.py
  astroquery/utils/tap/model/job.py
  astroquery/utils/tap/tests/test_tap.py
  docs/esa/hsa/hsa.rst
Labels: bug, no-changelog-entry-needed, utils.tap, esa.esa_hubble, esa.jwst

#2681 Refactor ESO authentication and download
  CHANGES.rst
  astroquery/eso/core.py
  astroquery/eso/tests/data/FORS2.2021-01-02T00_59_12.533_raw2raw.xml
  astroquery/eso/tests/data/FORS2.2021-01-02T00_59_12.533_raw2raw_multipart.xml
  astroquery/eso/tests/data/oidc_token.json
  astroquery/eso/tests/data/testfile.fits.Z
  astroquery/eso/tests/setup_package.py
  astroquery/eso/tests/test_eso.py
  astroquery/eso/tests/test_eso_remote.py
  astroquery/utils/mocks.py
  docs/eso/eso.rst
Labels: eso

#2886 alfalfa: add some tests to increase test coverage from 95 to 100 percent
  astroquery/alfalfa/tests/test_alfalfa.py
Labels: no-changelog-entry-needed, alfalfa

#2900 rename ring node to RMS node to fix issue #2896
  astroquery/solarsystem/pds/__init__.py
  astroquery/solarsystem/pds/core.py
  astroquery/solarsystem/pds/tests/test_pds.py
  astroquery/solarsystem/pds/tests/test_pds_remote.py
  docs/solarsystem/pds/pds.rst
Labels: no-changelog-entry-needed, pds

#2903 BUG: Create test files in tmp dirs
  astroquery/eso/tests/test_eso.py
Labels: eso, no-changelog-entry-needed
