Repository astropy/astroquery, pull requests merged in 2023-07, with the labels that each got.

#2760 Update cdms table
  CHANGES.rst
  astroquery/linelists/cdms/__init__.py
  astroquery/linelists/cdms/core.py
  astroquery/linelists/cdms/data/catdir.cat
  docs/linelists/cdms/cdms.rst
Labels: cdms

#2759 Adding JWST wildcard example to docs
  docs/mast/mast.rst
Labels: Documentation, no-changelog-entry-needed, mast

#2736 Adding error handling examples to mast docs
  docs/mast/mast.rst
Labels: Documentation, no-changelog-entry-needed, mast

#2770 MAINT: fix some remote data failure
  astroquery/vo_conesearch/validator/tests/test_validate.py
  docs/cadc/cadc.rst
  docs/imcce/imcce.rst
  docs/ipac/irsa/irsa.rst
  docs/jplhorizons/jplhorizons.rst
  docs/jplsbdb/jplsbdb.rst
  docs/jplspec/jplspec.rst
Labels: no-changelog-entry-needed

#2769 Fix atomic URL
  CHANGES.rst
  astroquery/atomic/__init__.py
  astroquery/atomic/core.py
Labels: bug, Upstream, atomic

#2766 rename cds into mocserver
  CHANGES.rst
  astroquery/cds/__init__.py
  astroquery/cds/tests/setup_package.py
  astroquery/cds/tests/test_mocserver.py
  astroquery/cds/tests/test_mocserver_remote.py
  astroquery/mocserver/__init__.py
  astroquery/mocserver/core.py
  astroquery/mocserver/tests/__init__.py
  astroquery/mocserver/tests/data/hips_from_saada_alasky.json
  astroquery/mocserver/tests/data/moc.fits
  astroquery/mocserver/tests/data/properties.json
  astroquery/mocserver/tests/setup_package.py
  astroquery/mocserver/tests/test_deprecation.py
  astroquery/mocserver/tests/test_mocserver.py
  astroquery/mocserver/tests/test_mocserver_remote.py
  docs/hips2fits/hips2fits.rst
  docs/index.rst
  docs/mocserver/HST_union.png
  docs/mocserver/MOC_GALEXGR6_AIS_FUV.png
  docs/mocserver/mocserver.rst
  setup.cfg
Labels: cds, mocserver

#2781 CI: adding changelog checker action
  .github/workflows/changelog.yml
  pyproject.toml
Labels: infrastructure, no-changelog-entry-needed

#2780 DOC: use python -m pip
  README.rst
  docs/index.rst
  docs/vamdc/vamdc.rst
  tox.ini
Labels: Documentation, no-changelog-entry-needed

#2784 MAINT: add workaround for doctesting with new numpy repr
  astroquery/conftest.py
Labels: testing, no-changelog-entry-needed

#2787 Add test for setting H and G
  astroquery/jplhorizons/tests/test_jplhorizons_remote.py
Labels: testing, no-changelog-entry-needed, jplhorizons

#2762 ENH: adding more info to User-Agent
  CHANGES.rst
  astroquery/mast/utils.py
  astroquery/query.py
  astroquery/utils/tap/conn/tapconn.py
Labels: infrastructure

#2790 DOC: Fix change log formatting
  CHANGES.rst
Labels: bug, Documentation, skip-changelog-checks

#2791 MAINT: fixing newly issues flake8 errors
  astroquery/alma/core.py
  astroquery/atomic/tests/test_atomic.py
  astroquery/esa/xmm_newton/tests/test_xmm_newton.py
  astroquery/imcce/tests/test_skybot.py
  astroquery/mast/discovery_portal.py
  astroquery/mocserver/tests/test_mocserver.py
  astroquery/sdss/tests/test_sdss.py
  astroquery/vizier/tests/test_vizier.py
Labels: no-changelog-entry-needed

#2779 Fix issue2777: prevent filenames with relative paths
  astroquery/alma/core.py
  astroquery/esa/iso/core.py
  astroquery/esa/xmm_newton/core.py
  astroquery/esasky/core.py
  astroquery/utils/tap/conn/tapconn.py
Labels: no-changelog-entry-needed
