Repository astropy/astroquery, pull requests merged in 2023-06, with the labels that each got.

#2725 Added Introduction section
  docs/mast/mast.rst
Labels: Documentation, no-changelog-entry-needed, mast

#2745 Updated deprecated example
  docs/mast/mast.rst
Labels: Documentation, no-changelog-entry-needed, mast

#2744 MAINT: Update service links, and fix broken ones in docs
  CHANGES.rst
  LICENSE.rst
  astroquery/cosmosim/__init__.py
  astroquery/ipac/ned/__init__.py
  astroquery/ipac/ned/core.py
  astroquery/jplhorizons/__init__.py
  astroquery/nasa_ads/core.py
  astroquery/sdss/core.py
  astroquery/vizier/__init__.py
  astroquery/vizier/core.py
  docs/cosmosim/cosmosim.rst
  docs/gaia/gaia.rst
  docs/imcce/imcce.rst
  docs/ipac/ned/ned.rst
  docs/jplhorizons/jplhorizons.rst
  docs/jplsbdb/jplsbdb.rst
  docs/mast/mast.rst
  docs/nasa_ads/nasa_ads.rst
  docs/splatalogue/splatalogue.rst
Labels: no-changelog-entry-needed

#2685 ` return_submission_id` option added to astrometry_net monitor_submission.
  CHANGES.rst
  astroquery/astrometry_net/core.py
  astroquery/astrometry_net/tests/test_astrometry_net_remote.py
Labels: astrometry.net, to review

#2755 Skip `mast` remote tests that need `boto3` if it is not installed
  astroquery/mast/tests/test_mast_remote.py
Labels: testing, no-changelog-entry-needed

#2660 IPAC/IRSA Moving Object Search Tool (MOST) interface
  CHANGES.rst
  astroquery/ipac/irsa/__init__.py
  astroquery/ipac/irsa/core.py
  astroquery/ipac/irsa/most.py
  astroquery/ipac/irsa/tests/data/MOST_application.html
  astroquery/ipac/irsa/tests/data/MOST_full_with_tarballs.html
  astroquery/ipac/irsa/tests/data/MOST_regular.html
  astroquery/ipac/irsa/tests/data/most_full_metadata.tbl
  astroquery/ipac/irsa/tests/data/most_full_results.tbl
  astroquery/ipac/irsa/tests/data/most_gator.tbl
  astroquery/ipac/irsa/tests/data/most_imgframes_matched_final_table.tbl
  astroquery/ipac/irsa/tests/data/most_regular_metadata.tbl
  astroquery/ipac/irsa/tests/data/most_regular_results.tbl
  astroquery/ipac/irsa/tests/data/most_votable.xml
  astroquery/ipac/irsa/tests/setup_package.py
  astroquery/ipac/irsa/tests/test_most.py
  astroquery/ipac/irsa/tests/test_most_remote.py
  docs/index.rst
  docs/ipac/irsa/most.rst
Labels: New Service, ipac.irsa
