Repository astropy/astroquery, pull requests merged in 2023-08, with the labels that each got.

#2775 New retrieval types for Gaia Datalink (GAIAPCR-1281 C9GACS-9070)
  astroquery/gaia/__init__.py
  astroquery/gaia/core.py
Labels: no-changelog-entry-needed, gaia

#2795 MAINT: no automated black formatting here
  pyproject.toml
Labels: infrastructure, no-changelog-entry-needed

#2794 Update jplhorizons columns
  CHANGES.rst
  astroquery/jplhorizons/__init__.py
  astroquery/jplhorizons/core.py
  astroquery/jplhorizons/tests/test_jplhorizons_remote.py
  docs/jplhorizons/jplhorizons.rst
Labels: bug, jplhorizons

#2796 CI: no milestone check with changelog, but use milestone action
  .github/workflows/changelog.yml
  .github/workflows/milestone.yml
Labels: no-changelog-entry-needed

#2793 MAINT: deprecation maintanence
  astroquery/cds/__init__.py
  astroquery/ibe/__init__.py
  astroquery/irsa/__init__.py
  astroquery/irsa_dust/__init__.py
  astroquery/mocserver/tests/test_deprecation.py
  astroquery/nasa_exoplanet_archive/__init__.py
  astroquery/ned/__init__.py
  astroquery/sha/__init__.py
  setup.cfg
Labels: cleanup, no-changelog-entry-needed

#2802 CI: add extra astropy pip index to pick up new dependency
  tox.ini
Labels: testing, infrastructure, no-changelog-entry-needed

#2797 Esa ehst download improvements
  CHANGES.rst
  astroquery/esa/hubble/core.py
  astroquery/esa/hubble/tests/test_esa_hubble.py
  astroquery/esa/hubble/tests/test_esa_hubble_remote.py
  docs/esa/hubble/hubble.rst
Labels: esa.esa_hubble

#2800 TST: fixes for 2023 aug
  CHANGES.rst
  astroquery/lamda/core.py
  astroquery/sdss/core.py
  astroquery/simbad/tests/test_simbad.py
  docs/casda/casda.rst
  docs/esa/jwst/jwst.rst
  docs/ipac/irsa/irsa.rst
  docs/ipac/irsa/most.rst
  docs/ipac/nexsci/nasa_exoplanet_archive.rst
  docs/jplsbdb/jplsbdb.rst
  docs/lamda/lamda.rst
  docs/mpc/mpc.rst
  docs/svo_fps/svo_fps.rst
Labels: testing

#2806 FIX: casing some more sdss ID columns to int64
  CHANGES.rst
  astroquery/sdss/core.py
Labels: sdss

#2743 Preserving mast docs vertical real estate
  docs/mast/mast.rst
  docs/mast/mast_catalog.rst
  docs/mast/mast_cut.rst
  docs/mast/mast_mastquery.rst
  docs/mast/mast_missions.rst
  docs/mast/mast_obsquery.rst
Labels: Documentation, no-changelog-entry-needed, mast

#2746 Allow astropy Quantity in query locations
  CHANGES.rst
  astroquery/jplhorizons/core.py
  astroquery/jplhorizons/tests/test_jplhorizons.py
  astroquery/jplhorizons/tests/test_jplhorizons_remote.py
  docs/jplhorizons/jplhorizons.rst
Labels: jplhorizons

#2814 BUG: fix numpy dev version as their versioning system changed
  astroquery/conftest.py
Labels: bug, no-changelog-entry-needed

#2810 Fix for alma.utils.footprint_to_reg
  CHANGES.rst
  astroquery/alma/tests/test_alma_utils.py
  astroquery/alma/utils.py
  docs/index.rst
Labels: bug, alma

#2816 fix simbad region async remote test
  astroquery/simbad/tests/test_simbad_remote.py
Labels: simbad, no-changelog-entry-needed

#2821 CI: remove deprecated/removed RTD config
  .readthedocs.yaml
Labels: no-changelog-entry-needed
