Repository astropy/astroquery, pull requests merged in 2023-03, with the labels that each got.

#2677 `gaia` tests refactoring
  astroquery/gaia/tests/DummyTapHandler.py
  astroquery/gaia/tests/test_gaiatap.py
Labels: testing, no-changelog-entry-needed, gaia

#2682 Remove needless argument checks from `gaia`
  astroquery/gaia/core.py
  astroquery/gaia/tests/test_gaiatap.py
Labels: no-changelog-entry-needed, gaia

#2689 Fix and refactor `esa.hsa` remote tests
  astroquery/esa/hsa/tests/test_hsa_remote.py
Labels: bug, testing, no-changelog-entry-needed, esa.hsa

#2692 Exclude all test files from code coverage analysis
  setup.cfg
Labels: testing, infrastructure, no-changelog-entry-needed

#2691 eJWST - Instrument search updated and bugfixes
  astroquery/esa/iso/__init__.py
  astroquery/esa/jwst/core.py
  astroquery/esa/jwst/tests/test_jwsttap.py
  astroquery/esa/xmm_newton/__init__.py
  astroquery/esa/xmm_newton/core.py
  astroquery/esa/xmm_newton/tests/__init__.py
  astroquery/esa/xmm_newton/tests/dummy_handler.py
  astroquery/esa/xmm_newton/tests/dummy_tap_handler.py
  astroquery/esa/xmm_newton/tests/setup_package.py
  astroquery/esa/xmm_newton/tests/test_xmm_newton.py
  astroquery/esa/xmm_newton/tests/test_xmm_newton_remote.py
  docs/esa/iso/iso.rst
  docs/esa/jwst/jwst.rst
Labels: esa.xmm_newton, esa.jwst, esa.iso

#2678 NIST Vectorizing
  CHANGES.rst
  astroquery/nist/core.py
  astroquery/nist/tests/test_nist.py
  docs/nist/nist.rst
Labels: nist
