Repository astropy/astroquery, pull requests merged in 2023-02, with the labels that each got.

#2652 MAINT: Fixing HEASARC and IMCCE docs issue
  docs/heasarc/heasarc.rst
  docs/imcce/imcce.rst
Labels: Documentation, testing, no-changelog-entry-needed

#2654 FIX: switching to https for sdss to avoid query issues
  CHANGES.rst
  astroquery/sdss/__init__.py
  astroquery/sdss/tests/test_sdss.py
Labels: bug, sdss

#2655 Refactor: Make NIST keyword only
  CHANGES.rst
  astroquery/nist/core.py
  astroquery/nist/tests/test_nist.py
  astroquery/nist/tests/test_nist_remote.py
  docs/nist/nist.rst
Labels: nist

#2635 Remove unused code from `utils.tap` and related sub-packages
  astroquery/esa/hubble/core.py
  astroquery/esa/jwst/core.py
  astroquery/esa/jwst/tests/test_jwsttap.py
  astroquery/gaia/tests/DummyTapHandler.py
  astroquery/gaia/tests/test_gaiatap.py
  astroquery/utils/tap/conn/tapconn.py
  astroquery/utils/tap/conn/tests/DummyConnHandler.py
  astroquery/utils/tap/core.py
  astroquery/utils/tap/model/job.py
  astroquery/utils/tap/model/tests/test_job.py
  astroquery/utils/tap/tests/data/1645110907148I-result.fits.gz
  astroquery/utils/tap/tests/test_tap.py
  astroquery/utils/tap/xmlparser/utils.py
Labels: no-changelog-entry-needed, utils.tap

#2656 Refactor: Made NVAS optional kwargs keyword only
  CHANGES.rst
  astroquery/nvas/core.py
Labels: nvas

#2667 Remove `astroquery.utils.commons.radius_to_unit()`
  astroquery/cadc/core.py
  astroquery/esa/jwst/core.py
  astroquery/esasky/core.py
  astroquery/gaia/core.py
  astroquery/utils/commons.py
  astroquery/utils/tests/test_utils.py
  astroquery/vo_conesearch/core.py
Labels: cleanup, no-changelog-entry-needed

#2658 MAINT: use the updated class and variable names for SIA v2
  astroquery/alma/core.py
Labels: alma, no-changelog-entry-needed

#2661 Refactor: Make kwargs keyword only
  CHANGES.rst
  astroquery/alfalfa/core.py
  astroquery/astrometry_net/core.py
  astroquery/besancon/core.py
  astroquery/casda/core.py
  astroquery/cds/core.py
  astroquery/dace/core.py
  astroquery/eso/core.py
  astroquery/eso/tests/test_eso.py
  astroquery/eso/tests/test_eso_remote.py
  astroquery/exoplanet_orbit_database/exoplanet_orbit_database.py
  astroquery/fermi/core.py
  astroquery/gaia/core.py
  astroquery/gaia/tests/test_gaia_remote.py
  astroquery/gaia/tests/test_gaiatap.py
  astroquery/gama/core.py
  astroquery/gemini/core.py
  astroquery/hips2fits/core.py
  astroquery/hitran/core.py
  astroquery/hitran/utils.py
  astroquery/image_cutouts/first/core.py
  astroquery/imcce/core.py
  astroquery/ipac/irsa/ibe/core.py
  astroquery/ipac/irsa/ibe/tests/test_ibe.py
  astroquery/ipac/irsa/ibe/tests/test_ibe_remote.py
  astroquery/ipac/irsa/irsa_dust/core.py
  astroquery/ipac/irsa/sha/core.py
  astroquery/ipac/ned/core.py
  astroquery/ipac/ned/tests/test_ned.py
  astroquery/jplsbdb/core.py
  astroquery/jplspec/core.py
  astroquery/lamda/core.py
  astroquery/lamda/utils.py
  astroquery/linelists/cdms/core.py
  astroquery/magpis/core.py
  astroquery/mpc/core.py
  astroquery/nasa_ads/core.py
  astroquery/nasa_ads/utils.py
  astroquery/oac/core.py
  astroquery/ogle/core.py
  astroquery/open_exoplanet_catalogue/tests/test_open_exoplanet_catalogue_local.py
  astroquery/open_exoplanet_catalogue/utils.py
  astroquery/splatalogue/build_species_table.py
  astroquery/splatalogue/core.py
  astroquery/splatalogue/load_species_table.py
  astroquery/splatalogue/slap.py
  astroquery/splatalogue/tests/test_splatalogue.py
  astroquery/splatalogue/tests/test_utils.py
  astroquery/splatalogue/utils.py
  astroquery/svo_fps/core.py
  astroquery/svo_fps/tests/test_svo_fps.py
  astroquery/svo_fps/tests/test_svo_fps_remote.py
  astroquery/template_module/core.py
  astroquery/ukidss/core.py
  astroquery/vsa/core.py
  astroquery/wfau/core.py
  astroquery/xmatch/core.py
  docs/eso/eso.rst
  docs/gaia/gaia.rst
  docs/imcce/imcce.rst
Labels: refactor

#2672 Fix `esasky` remote tests
  astroquery/esasky/tests/test_esasky_remote.py
Labels: testing, esasky, no-changelog-entry-needed

#2668 Expanding `astroquery.mast.Tesscut` to support TICA
  CHANGES.rst
  astroquery/mast/cutouts.py
  astroquery/mast/tests/test_mast_remote.py
  docs/mast/mast.rst
Labels: enhancement, mast

#2675 Updated pip command for repository install
  README.rst
  docs/index.rst
Labels: Documentation, no-changelog-entry-needed
