Repository astropy/astroquery, pull requests merged in 2024-09, with the labels that each got.

#3091 MAINT: fix for sudden upstream change
  astroquery/besancon/tests/test_besancon.py
Labels: Upstream, no-changelog-entry-needed

#3089 Deprecate raw response from non-async method
  CHANGES.rst
  astroquery/mpc/core.py
  astroquery/mpc/tests/data/1994XG_ephemeris_500-a-t.html
  astroquery/mpc/tests/data/1994XG_ephemeris_G37-a-t.html
  astroquery/mpc/tests/test_mpc.py
  astroquery/mpc/tests/test_mpc_remote.py
  docs/mpc/mpc.rst
Labels: mpc

#3101 Fix so that test products are downloaded to temp directory
  astroquery/mast/tests/test_mast_remote.py
Labels: no-changelog-entry-needed, mast

#3103 BUG: pin sphinx-automodapi version
  setup.cfg
Labels: infrastructure, no-changelog-entry-needed

#3108 MNT: Use hash for Action workflow versions and update if needed
  .github/dependabot.yml
  .github/workflows/changelog.yml
  .github/workflows/ci_crontests.yml
  .github/workflows/ci_devtests.yml
  .github/workflows/ci_online_crontests.yml
  .github/workflows/ci_tests.yml
  .github/workflows/codeql-analysis.yml
Labels: infrastructure, no-changelog-entry-needed

#3107 Fix the failing tests getting spectra from ESA Sky
  astroquery/esasky/tests/test_esasky_remote.py
Labels: esasky, no-changelog-entry-needed

#3110 GAIA: include new datalink retrieve types in the method load data
  CHANGES.rst
  astroquery/gaia/__init__.py
  astroquery/gaia/core.py
Labels: gaia

#3104 DOC: cleanup readme from extra install info and unused links
  README.rst
Labels: Documentation, no-changelog-entry-needed
