Repository astropy/astroquery, pull requests merged in 2024-05, with the labels that each got.

#2967 Gaia: Define new constant USE_NAMES_OVER_IDS that gives preference to ``name`` over ID attributes of columns as the names of columns in the `astropy.table.Table` instance.
  CHANGES.rst
  astroquery/gaia/core.py
  astroquery/gaia/tests/data/1710099405832VAL-result.vot
  astroquery/gaia/tests/test_gaia_remote.py
  astroquery/gaia/tests/test_gaiatap.py
  astroquery/utils/tap/core.py
  astroquery/utils/tap/model/job.py
  astroquery/utils/tap/model/modelutils.py
  astroquery/utils/tap/xmlparser/tests/data/1714556098855O-result.csv
  astroquery/utils/tap/xmlparser/tests/data/1714556098855O-result.ecsv
  astroquery/utils/tap/xmlparser/tests/data/1714556098855O-result.fits
  astroquery/utils/tap/xmlparser/tests/data/1714556098855O-result.vot
  astroquery/utils/tap/xmlparser/tests/setup_package.py
  astroquery/utils/tap/xmlparser/tests/test_xmlparser.py
  astroquery/utils/tap/xmlparser/utils.py
Labels: gaia, utils.tap

#2998 EHSTPCR-1144: Implemented the function get_datalabs_path along with the
  CHANGES.rst
  astroquery/esa/hubble/core.py
  astroquery/esa/hubble/tests/test_esa_hubble.py
  astroquery/esa/hubble/tests/test_esa_hubble_remote.py
Labels: esa.esa_hubble

#2985 Update tap.rst
  docs/utils/tap.rst
Labels: Documentation, no-changelog-entry-needed

#2979 Remove Non-functional Overlay Args from Skyview
  CHANGES.rst
  astroquery/skyview/core.py
Labels: skyview

#3008 BUG: changing int comparison to fix incompatibility with astropy 6.1
  CHANGES.rst
  astroquery/linelists/cdms/core.py
Labels: bug, cdms

#3010 EHSTPCR-1181: fix for get_datalabs_path
  CHANGES.rst
  astroquery/esa/hubble/core.py
  astroquery/esa/hubble/tests/test_esa_hubble_remote.py
Labels: bug, esa.esa_hubble

#3002 MAINT: dropping pyvo <1.5
  CHANGES.rst
  astroquery/alma/core.py
  astroquery/alma/tests/test_alma_remote.py
  astroquery/ipac/irsa/core.py
  astroquery/ipac/irsa/tests/test_irsa_remote.py
  astroquery/simbad/tests/test_simbad_remote.py
  docs/index.rst
  setup.cfg
  tox.ini
Labels: infrastructure

#3012 Gaia: delete any reference to data_structure "Combined" in the function load_data and in the documentation [ci skip]
  astroquery/gaia/core.py
  docs/gaia/gaia.rst
Labels: gaia
