Repository astropy/astroquery, pull requests merged in 2024-11, with the labels that each got.

#3126 Parameter validation on MastMissions queries
  CHANGES.rst
  astroquery/mast/__init__.py
  astroquery/mast/collections.py
  astroquery/mast/missions.py
  astroquery/mast/tests/data/README.rst
  astroquery/mast/tests/data/mission_columns.json
  astroquery/mast/tests/data/panstarrs_columns.json
  astroquery/mast/tests/test_mast.py
  astroquery/mast/tests/test_mast_remote.py
  astroquery/mast/utils.py
Labels: mast

#3130 Gaia: update the output file name built by the method load_data to include microsecond resolution
  CHANGES.rst
  astroquery/gaia/core.py
  astroquery/gaia/tests/test_gaiatap.py
Labels: no-changelog-entry-needed, gaia, Affects-dev

#3137 Fix issue 2949: nasa_exoplanet_archive transit duration unit fix
  CHANGES.rst
  astroquery/ipac/nexsci/nasa_exoplanet_archive/core.py
Labels: bug, Upstream, ipac.nexsci.nasa_exoplanet_archive

#3134 CASDA - Add support for SUSPENDED jobs
  CHANGES.rst
  astroquery/casda/core.py
  astroquery/casda/tests/data/suspended_job.xml
  astroquery/casda/tests/test_casda.py
Labels: bug, casda

#3136 Fix #3135 - `TestEso.test_each_survey_and_SgrAstar` fails
  astroquery/eso/tests/test_eso_remote.py
Labels: eso, no-changelog-entry-needed
