Repository astropy/astroquery, pull requests merged in 2024-08, with the labels that each got.

#3079 Astrometry.net: reduce number of calls when polling for job status
  CHANGES.rst
  astroquery/astrometry_net/core.py
Labels: astrometry.net

#3080 Escape MAST Download URIs
  astroquery/mast/observations.py
  astroquery/mast/tests/test_mast_remote.py
Labels: no-changelog-entry-needed, mast

#3081 Reduced download volume for ESASky JWST tests
  astroquery/esasky/tests/test_esasky_remote.py
Labels: esasky, no-changelog-entry-needed

#3082 COMP: fix tarfile deprecation for esasky, follow-up to PR2838
  astroquery/esasky/core.py
Labels: esasky, no-changelog-entry-needed

#3083 Check for TESS/TICA FFIs when getting products for observations
  astroquery/mast/observations.py
  astroquery/mast/tests/test_mast_remote.py
Labels: no-changelog-entry-needed, mast

#3084 Check that parameters are valid when running criteria queries
  CHANGES.rst
  astroquery/mast/discovery_portal.py
  astroquery/mast/tests/test_mast_remote.py
Labels: mast

#3088 MAINT: adding Python 3.13 to CI
  .github/workflows/ci_devtests.yml
  astroquery/utils/tests/test_utils.py
  tox.ini
Labels: no-changelog-entry-needed

#3087 Support case-insensitive query criteria
  CHANGES.rst
  astroquery/mast/discovery_portal.py
  astroquery/mast/tests/test_mast_remote.py
Labels: mast
