Repository astropy/astroquery, pull requests merged in 2024-10, with the labels that each got.

#3111 ESASky handle eROSITA downloads
  CHANGES.rst
  astroquery/esasky/core.py
  astroquery/esasky/tests/test_esasky_remote.py
Labels: esasky

#3116 [XMatch] fix: upload of two local tables is now possible
  CHANGES.rst
  astroquery/xmatch/core.py
  astroquery/xmatch/tests/test_xmatch.py
Labels: bug, xmatch

#3117 MAINT: cleanup intersphinx mapping
  docs/conf.py
Labels: Documentation, infrastructure, no-changelog-entry-needed

#3106 Esasky use ucd instead of json
  astroquery/esasky/core.py
  docs/esasky/esasky.rst
Labels: esasky, no-changelog-entry-needed

#3105 Fixed galactic coord problem
  CHANGES.rst
  astroquery/alma/tapsql.py
  astroquery/alma/tests/test_alma.py
Labels: bug, alma

#3014 Gaia: change the signature of the method load_data
  CHANGES.rst
  astroquery/gaia/core.py
  astroquery/gaia/tests/data/gaia_dr3_source_id_5937083312263887616_dl_products_csv.zip
  astroquery/gaia/tests/data/gaia_dr3_source_id_5937083312263887616_dl_products_ecsv.zip
  astroquery/gaia/tests/data/gaia_dr3_source_id_5937083312263887616_dl_products_fits.zip
  astroquery/gaia/tests/data/gaia_dr3_source_id_5937083312263887616_dl_products_vot.zip
  astroquery/gaia/tests/setup_package.py
  astroquery/gaia/tests/test_gaiatap.py
  astroquery/utils/tap/conn/tests/DummyResponse.py
  astroquery/utils/tap/xmlparser/utils.py
Labels: gaia, utils.tap

#3113 Move cloud functions into Observations, fix for docs and test
  CHANGES.rst
  astroquery/mast/core.py
  astroquery/mast/observations.py
  astroquery/mast/tests/test_mast_remote.py
Labels: mast

#3122 Reduce running time for MAST doctests
  docs/mast/mast_catalog.rst
  docs/mast/mast_cut.rst
  docs/mast/mast_obsquery.rst
Labels: Documentation, no-changelog-entry-needed, mast

#3118 Added support for temporary table upload in `alma`
  CHANGES.rst
  astroquery/alma/core.py
  astroquery/alma/tests/test_alma.py
  astroquery/alma/tests/test_alma_remote.py
  docs/alma/alma.rst
Labels: alma
