Repository astropy/astroquery, pull requests merged in 2025-01, with the labels that each got.

#3162 MAINT: remove dace module
  CHANGES.rst
  astroquery/dace/__init__.py
  astroquery/dace/core.py
  astroquery/dace/tests/__init__.py
  astroquery/dace/tests/data/parameter_list.json
  astroquery/dace/tests/setup_package.py
  astroquery/dace/tests/test_dace.py
  astroquery/dace/tests/test_dace_remote.py
  docs/dace/dace.rst
  docs/index.rst
  setup.cfg
Labels: dace

#3163 MAINT: remove SHA, recommendation is to use IRSA to access Spitzer data
  CHANGES.rst
  astroquery/ipac/irsa/sha/__init__.py
  astroquery/ipac/irsa/sha/core.py
  astroquery/ipac/irsa/sha/tests/__init__.py
  astroquery/ipac/irsa/sha/tests/data/img.fits
  astroquery/ipac/irsa/sha/tests/data/nid_t.txt
  astroquery/ipac/irsa/sha/tests/data/pid_t.txt
  astroquery/ipac/irsa/sha/tests/data/pos_t.txt
  astroquery/ipac/irsa/sha/tests/data/rqk_t.txt
  astroquery/ipac/irsa/sha/tests/setup_package.py
  astroquery/ipac/irsa/sha/tests/test_sha.py
  astroquery/ipac/irsa/sha/tests/test_sha_remote.py
  astroquery/sha/__init__.py
  docs/ipac/irsa/sha/sha.rst
Labels: ipac.irsa, sha

#3168 doc: make XMatch prepare tables error message state the two possible causes for failure
  CHANGES.rst
  astroquery/xmatch/core.py
  astroquery/xmatch/tests/test_xmatch.py
Labels: xmatch

#3170 docs: reformulate the section on downloading a whole catalog
  docs/vizier/vizier.rst
Labels: Documentation, vizier, no-changelog-entry-needed

#3171 Format MPC ephemeris error response as text (i.e., strip HTML tags).
  CHANGES.rst
  astroquery/mpc/core.py
Labels: mpc

#3175 feat: add query_hierarchy
  CHANGES.rst
  astroquery/simbad/core.py
  astroquery/simbad/tests/test_simbad.py
  astroquery/simbad/tests/test_simbad_remote.py
  astroquery/simbad/utils.py
  docs/simbad/simbad.rst
Labels: simbad

#2997 Refactor astroquery.heasarc to use VO protocols
  CHANGES.rst
  astroquery/heasarc/__init__.py
  astroquery/heasarc/core.py
  astroquery/heasarc/tests/conftest.py
  astroquery/heasarc/tests/data/10f92917.dat
  astroquery/heasarc/tests/data/157a5015.dat
  astroquery/heasarc/tests/data/2f018503.dat
  astroquery/heasarc/tests/data/404652d5.dat
  astroquery/heasarc/tests/data/4511b20b.dat
  astroquery/heasarc/tests/data/63035ed0.dat
  astroquery/heasarc/tests/data/6ad7a587.dat
  astroquery/heasarc/tests/data/6df5af53.dat
  astroquery/heasarc/tests/data/8eb05834.dat
  astroquery/heasarc/tests/data/abc93c4d.dat
  astroquery/heasarc/tests/data/b493ec2a.dat
  astroquery/heasarc/tests/data/bca1ec4b.dat
  astroquery/heasarc/tests/data/be6d5c35.dat
  astroquery/heasarc/tests/data/eb62ea7d.dat
  astroquery/heasarc/tests/data/f3778475.dat
  astroquery/heasarc/tests/data/f6d793e8.dat
  astroquery/heasarc/tests/data/ff1f8d6a.dat
  astroquery/heasarc/tests/data/last-month-integral_rev3_scw.dat
  astroquery/heasarc/tests/data/last-month-intscw.dat
  astroquery/heasarc/tests/setup_package.py
  astroquery/heasarc/tests/test_heasarc.py
  astroquery/heasarc/tests/test_heasarc_remote.py
  astroquery/heasarc/tests/test_heasarc_remote_isdc.py
  docs/heasarc/heasarc.rst
  setup.cfg
Labels: heasarc

#3179 MAINT: fixing broken and redirected links
  CHANGES.rst
  astroquery/alma/core.py
  astroquery/astrometry_net/core.py
  astroquery/gama/__init__.py
  astroquery/hitran/__init__.py
  astroquery/hitran/core.py
  astroquery/imcce/core.py
  astroquery/ipac/irsa/ibe/__init__.py
  astroquery/jplhorizons/core.py
  astroquery/jplsbdb/core.py
  astroquery/lamda/__init__.py
  astroquery/mast/auth.py
  astroquery/mast/core.py
  astroquery/mast/cutouts.py
  astroquery/mocserver/core.py
  astroquery/open_exoplanet_catalogue/__init__.py
  astroquery/skyview/core.py
  astroquery/template_module/__init__.py
  astroquery/vo_conesearch/conesearch.py
  astroquery/wfau/core.py
  docs/alma/alma.rst
  docs/astrometry_net/astrometry_net.rst
  docs/atomic/atomic.rst
  docs/cadc/cadc.rst
  docs/casda/casda.rst
  docs/conf.py
  docs/esa/hubble/hubble.rst
  docs/esa/iso/iso.rst
  docs/esa/xmm_newton/xmm_newton.rst
  docs/esasky/esasky.rst
  docs/eso/eso.rst
  docs/gaia/gaia.rst
  docs/gama/gama.rst
  docs/gemini/gemini.rst
  docs/hitran/hitran.rst
  docs/imcce/imcce.rst
  docs/index.rst
  docs/ipac/irsa/irsa.rst
  docs/ipac/irsa/irsa_dust/irsa_dust.rst
  docs/jplsbdb/jplsbdb.rst
  docs/lamda/lamda.rst
  docs/mast/mast.rst
  docs/mast/mast_cut.rst
  docs/mast/mast_mastquery.rst
  docs/mocserver/mocserver.rst
  docs/ogle/ogle.rst
  docs/skyview/skyview.rst
  docs/splatalogue/splatalogue.rst
  docs/vamdc/vamdc.rst
  docs/vo_conesearch/vo_conesearch.rst
Labels: Documentation, cleanup, no-changelog-entry-needed

#3180 MAINT: mixed minor fixes before release
  .mailmap
  astroquery/alma/core.py
  astroquery/esa/xmm_newton/tests/test_xmm_newton_remote.py
  astroquery/exoplanet_orbit_database/tests/test_exoplanet_orbit_database.py
  astroquery/ipac/irsa/core.py
  docs/jplhorizons/jplhorizons.rst
Labels: no-changelog-entry-needed

#3184 MAINT: temporary measure to reorder filters
  setup.cfg
Labels: no-changelog-entry-needed

#3173 CDMS: add whole-molecule query tool & refactor metadata acquisition
  CHANGES.rst
  astroquery/jplspec/lookup_table.py
  astroquery/linelists/cdms/__init__.py
  astroquery/linelists/cdms/core.py
  astroquery/linelists/cdms/data/catdir.cat
  astroquery/linelists/cdms/data/partfunc.cat
  astroquery/linelists/cdms/setup_package.py
  astroquery/linelists/cdms/tests/test_cdms.py
  astroquery/linelists/cdms/tests/test_cdms_remote.py
  docs/linelists/cdms/cdms.rst
  setup.cfg
Labels: cdms

#3186 Better migration simbad
  CHANGES.rst
  astroquery/simbad/core.py
  astroquery/simbad/data/query_criteria_fields.json
  astroquery/simbad/tests/test_simbad.py
  astroquery/simbad/utils.py
  docs/simbad/simbad.rst
Labels: simbad

#3139 Partial rewrite of the MOCServer module
  CHANGES.rst
  astroquery/mocserver/__init__.py
  astroquery/mocserver/core.py
  astroquery/mocserver/tests/data/hips_frames.vot
  astroquery/mocserver/tests/data/hips_from_saada_alasky.json
  astroquery/mocserver/tests/data/list_fields.json
  astroquery/mocserver/tests/data/properties.json
  astroquery/mocserver/tests/setup_package.py
  astroquery/mocserver/tests/test_mocserver.py
  astroquery/mocserver/tests/test_mocserver_remote.py
  docs/mocserver/MOC_GALEXGR6_AIS_FUV.png
  docs/mocserver/mocserver.rst
  setup.cfg
Labels: mocserver

#3183 fix sciserver downloads in heasarc (#3182)
  CHANGES.rst
  astroquery/heasarc/core.py
  astroquery/heasarc/tests/test_heasarc.py
Labels: bug, heasarc

#3188 Fix issue 3187: Missing unit strings in UNIT_MAPPER for ipac.nexsci.nasa_exoplanet_archive
  CHANGES.rst
  astroquery/ipac/nexsci/nasa_exoplanet_archive/core.py
Labels: bug, ipac.nexsci.nasa_exoplanet_archive

#3189 Fix InvalidTableError for DI_STARS_EXEP and TD tables in ipac.nexsci.nasa_exoplanet_archive
  CHANGES.rst
  astroquery/ipac/nexsci/nasa_exoplanet_archive/core.py
  astroquery/ipac/nexsci/nasa_exoplanet_archive/tests/test_nasa_exoplanet_archive_remote.py
Labels: bug, ipac.nexsci.nasa_exoplanet_archive

#3190 MAINT: back with the long description
  README.rst
  setup.py
Labels: infrastructure, no-changelog-entry-needed

#3155 Download Products with MastMissions
  CHANGES.rst
  astroquery/mast/missions.py
  astroquery/mast/observations.py
  astroquery/mast/services.py
  astroquery/mast/tests/data/README.rst
  astroquery/mast/tests/data/mission_products.json
  astroquery/mast/tests/test_mast.py
  astroquery/mast/tests/test_mast_remote.py
  astroquery/mast/utils.py
  docs/mast/mast_missions.rst
  docs/mast/mast_obsquery.rst
Labels: mast

#3194 Make the API more flexible (allow to ommit `vizier:` when crossmatching with a vizier catalog)
  CHANGES.rst
  astroquery/xmatch/core.py
  astroquery/xmatch/tests/test_xmatch.py
  astroquery/xmatch/tests/test_xmatch_remote.py
Labels: xmatch
