Repository astropy/astroquery, pull requests merged in 2025-03, with the labels that each got.

#3235 [SIMBAD] Improve query region preformances
  CHANGES.rst
  astroquery/simbad/core.py
  astroquery/simbad/tests/test_simbad.py
  astroquery/simbad/tests/test_simbad_remote.py
  docs/simbad/simbad.rst
Labels: simbad

#3238 GAIA: Revert change in the name of the datalink RVS type, in the PR #3207
  CHANGES.rst
  astroquery/gaia/__init__.py
Labels: gaia

#3239 Euclid: update help get product list [ci skip]
  astroquery/esa/euclid/core.py
Labels: Documentation, no-changelog-entry-needed, esa.euclid

#3247 DOC: fix long lines
  astroquery/esa/euclid/core.py
Labels: no-changelog-entry-needed, esa.euclid

#3243 Fix faling remote tests
  astroquery/ipac/nexsci/nasa_exoplanet_archive/tests/test_nasa_exoplanet_archive_remote.py
Labels: no-changelog-entry-needed, ipac.nexsci.nasa_exoplanet_archive

#3249 EUCLID : include new datalink retrieval types 'SPECTRA_BGS' and 'SPECTRA_RGS'
  astroquery/esa/euclid/__init__.py
  astroquery/esa/euclid/core.py
  astroquery/esa/euclid/tests/test_euclidtap.py
  astroquery/utils/tap/conn/tests/DummyConnHandler.py
  docs/esa/euclid/euclid.rst
Labels: no-changelog-entry-needed, esa.euclid

#3251 EUCLID: Include zip extension to the output file returned by the method get_spectrum
  astroquery/esa/euclid/core.py
  astroquery/esa/euclid/tests/test_euclidtap.py
Labels: Affects-dev, esa.euclid

#3245 DOC: update IRSA narrative docs
  docs/ipac/irsa/irsa.rst
Labels: Documentation, ipac.irsa, no-changelog-entry-needed

#3255 EUCLID: Override TAP method get_datalinks
  astroquery/esa/euclid/core.py
  astroquery/esa/euclid/tests/test_euclidtap.py
  docs/esa/euclid/euclid.rst
Labels: no-changelog-entry-needed, esa.euclid

#3253 EUCLID: the parameter output_file is not properly used in the method get_spectrum
  astroquery/esa/euclid/core.py
Labels: no-changelog-entry-needed, esa.euclid

#3258 [SIMBAD] Fix upstream changes
  astroquery/simbad/tests/test_simbad_remote.py
  docs/simbad/query_tap.rst
  docs/simbad/simbad-er.gv
  docs/simbad/simbad_evolution.rst
Labels: simbad, no-changelog-entry-needed

#3259 [SIMBAD] fix: remove pm from the list of fields - bug introduced in #3186
  CHANGES.rst
  astroquery/simbad/core.py
  astroquery/simbad/data/query_criteria_fields.json
Labels: simbad

#3252 ENH: query_sia and query_ssa to return QTable
  CHANGES.rst
  astroquery/ipac/irsa/core.py
  astroquery/ipac/irsa/tests/test_irsa_remote.py
  docs/ipac/irsa/irsa.rst
Labels: alma, ipac.irsa

#3263 ENH: use Table instead of QTable
  CHANGES.rst
  astroquery/ipac/irsa/core.py
  docs/ipac/irsa/irsa.rst
Labels: ipac.irsa

#3267 TST: Reduce timeout in test_timeout_classic
  astroquery/vo_conesearch/tests/test_conesearch.py
Labels: testing, no-changelog-entry-needed, vo_conesearch

#3264 ENH: adding ``filter`` to IRSA's list_collections and list_catalogs
  CHANGES.rst
  astroquery/ipac/irsa/core.py
  astroquery/ipac/irsa/tests/test_irsa_remote.py
  docs/ipac/irsa/irsa.rst
Labels: ipac.irsa

#3266 MAINT: deprecating legacy print_catalogs()
  CHANGES.rst
  astroquery/ipac/irsa/core.py
Labels: ipac.irsa

#3265 ENH: adding ``Irsa.list_columns``
  CHANGES.rst
  astroquery/ipac/irsa/core.py
  astroquery/ipac/irsa/tests/test_irsa_remote.py
  docs/ipac/irsa/irsa.rst
Labels: enhancement, ipac.irsa

#3260 Make criteria in MastMissions queries case-sensitive
  CHANGES.rst
  astroquery/mast/missions.py
  astroquery/mast/tests/test_mast_remote.py
Labels: mast

#3230 Add batching to MastMissions.get_product_list
  CHANGES.rst
  astroquery/mast/missions.py
  astroquery/mast/tests/test_mast.py
  astroquery/mast/tests/test_mast_remote.py
  astroquery/mast/utils.py
Labels: mast

#3257 MAINT: prep for 0.4.10
  CHANGES.rst
  docs/svo_fps/svo_fps.rst
Labels: no-changelog-entry-needed

#3274 DOC: mast Documentation Updates
  docs/mast/mast_cut.rst
  docs/mast/mast_obsquery.rst
Labels: Documentation, no-changelog-entry-needed, mast

#3232 un-indenting head-safe check to apply for cached files too
  CHANGES.rst
  astroquery/query.py
  astroquery/tests/test_query.py
Labels: bug, infrastructure, query

#3275 BUG: fix Heasarch.locate_data returning empty rows
  CHANGES.rst
  astroquery/heasarc/core.py
  astroquery/heasarc/tests/test_heasarc.py
Labels: bug, heasarc
