Repository astropy/astroquery, pull requests merged in 2025-02, with the labels that each got.

#3195 fix: turn detailed membership on by default
  CHANGES.rst
  astroquery/simbad/core.py
  astroquery/simbad/tests/test_simbad.py
  docs/simbad/simbad.rst
Labels: simbad

#3199 fix: use left join when adding tables instead of inner join
  CHANGES.rst
  astroquery/simbad/core.py
  astroquery/simbad/tests/test_simbad.py
  astroquery/simbad/tests/test_simbad_remote.py
  docs/simbad/simbad.rst
Labels: simbad

#3207 GAIA: Update DR4 retrieval_type names and include the new one EPOCH_ASTROMETRY_BRIGHT
  CHANGES.rst
  astroquery/gaia/__init__.py
  astroquery/gaia/core.py
Labels: gaia

#3200 ENH: IRSA: adding servicetype to list_collections
  CHANGES.rst
  astroquery/ipac/irsa/core.py
  astroquery/ipac/irsa/tests/test_irsa_remote.py
  docs/ipac/irsa/irsa.rst
Labels: enhancement, ipac.irsa

#3201 ENH: adding async mode to IRSA TAP based queries
  CHANGES.rst
  astroquery/ipac/irsa/core.py
  docs/ipac/irsa/irsa.rst
Labels: enhancement, ipac.irsa

#3193 Accept MAST URIs as input to get_cloud_uris()
  CHANGES.rst
  astroquery/mast/cloud.py
  astroquery/mast/missions.py
  astroquery/mast/observations.py
  astroquery/mast/tests/data/README.rst
  astroquery/mast/tests/data/mast_relative_path.json
  astroquery/mast/tests/test_mast.py
  astroquery/mast/tests/test_mast_remote.py
  astroquery/mast/utils.py
  setup.cfg
Labels: mast

#3225 docs: add a clear message uppon ban
  CHANGES.rst
  astroquery/xmatch/core.py
  docs/xmatch/xmatch.rst
Labels: xmatch

#3215 MAINT: remove the usage of TestRunner therefore remove astroquery.test()
  CHANGES.rst
  astroquery/__init__.py
  astroquery/_astropy_init.py
  astroquery/conftest.py
  conftest.py
Labels: infrastructure

#3224 ENH: making `spatial` case insensitive
  CHANGES.rst
  astroquery/ipac/irsa/core.py
  astroquery/ipac/irsa/tests/test_irsa.py
Labels: enhancement, ipac.irsa

#3216 Euclid: new euclid module in astroquery
  CHANGES.rst
  astroquery/esa/euclid/__init__.py
  astroquery/esa/euclid/core.py
  astroquery/esa/euclid/tests/DummyTapHandler.py
  astroquery/esa/euclid/tests/__init__.py
  astroquery/esa/euclid/tests/data/1714556098855O-result.vot
  astroquery/esa/euclid/tests/data/job_1.vot
  astroquery/esa/euclid/tests/data/jobs.xml
  astroquery/esa/euclid/tests/data/test_get_product_list.vot
  astroquery/esa/euclid/tests/setup_package.py
  astroquery/esa/euclid/tests/test_euclidtap.py
  docs/esa/euclid/euclid.rst
  docs/esa/euclid/images/EUC_MER_BGSUB-MOSAIC-NIR-H_TILE102158889-ED035A_20241024T212936.705156Z_00.00.png
  docs/esa/euclid/images/astroquery_cutout_example.png
  docs/index.rst
Labels: New Service, esa.euclid

#3227 Euclid: PR for issue #3226
  CHANGES.rst
  astroquery/esa/euclid/tests/test_euclidtap.py
Labels: no-changelog-entry-needed, esa.euclid

#3076 ENH: adding SSA method for IRSA
  CHANGES.rst
  astroquery/ipac/irsa/__init__.py
  astroquery/ipac/irsa/core.py
  astroquery/ipac/irsa/tests/test_irsa_remote.py
  docs/ipac/irsa/irsa.rst
Labels: enhancement, ipac.irsa
