Repository astropy/astroquery, pull requests merged in 2025-04, with the labels that each got.

#3284 MAINT: raise more errors earlier
  CHANGES.rst
  astroquery/utils/process_asyncs.py
Labels: query

#3285 Changed visual to have mpl kwargs for Alma
  CHANGES.rst
  astroquery/alma/tests/test_alma_utils.py
  astroquery/alma/utils.py
Labels: bug, alma

#3287 EUCLID: delete Xmatch documentation [ci skip]
  docs/esa/euclid/euclid.rst
Labels: Documentation, no-changelog-entry-needed, esa.euclid

#3289 GAIA: update the authentication implementation to read the cookies sent by the new ESAC tap mechanism
  CHANGES.rst
  astroquery/utils/tap/conn/tapconn.py
  astroquery/utils/tap/conn/tests/DummyConnHandler.py
  astroquery/utils/tap/conn/tests/test_conn.py
  astroquery/utils/tap/core.py
  astroquery/utils/tap/taputils.py
  astroquery/utils/tap/tests/test_tap.py
  docs/gaia/gaia.rst
Labels: no-changelog-entry-needed, gaia, utils.tap

#3290 Log a warning if a cached file's length cannot be verified
  astroquery/mast/tests/test_mast_remote.py
  astroquery/query.py
Labels: no-changelog-entry-needed, mast

#3297 Fix issue3296: prevent writing when running tests in CDMS
  CHANGES.rst
  astroquery/linelists/cdms/core.py
  astroquery/linelists/cdms/tests/test_cdms_remote.py
Labels: testing, cdms

#3294 Add example of how to get non-public (proprietary) data
  astroquery/alma/core.py
  docs/alma/alma.rst
Labels: Documentation, alma, no-changelog-entry-needed

#3298 CDMS: Fix off-by-one error, make tests smoother
  CHANGES.rst
  astroquery/linelists/cdms/core.py
  astroquery/linelists/cdms/data/catdir.cat
  astroquery/linelists/cdms/data/partfunc.cat
  astroquery/linelists/cdms/tests/test_cdms.py
  astroquery/linelists/cdms/tests/test_cdms_remote.py
Labels: no-changelog-entry-needed, cdms

#3278 MAINT: deprecate ``band`` from ``Gaia.load_data()``
  CHANGES.rst
  astroquery/gaia/core.py
  astroquery/gaia/tests/test_gaiatap.py
Labels: gaia

#3303 Use https URL for SVO
  astroquery/svo_fps/__init__.py
  astroquery/svo_fps/core.py
  docs/svo_fps/svo_fps.rst
Labels: no-changelog-entry-needed, svo_fps

#3292 Pass in resolver name to MAST query functions
  CHANGES.rst
  astroquery/mast/collections.py
  astroquery/mast/core.py
  astroquery/mast/cutouts.py
  astroquery/mast/missions.py
  astroquery/mast/observations.py
  astroquery/mast/tests/data/README.rst
  astroquery/mast/tests/data/resolver.json
  astroquery/mast/tests/test_mast.py
  astroquery/mast/tests/test_mast_remote.py
  astroquery/mast/utils.py
  docs/mast/mast.rst
  docs/mast/mast_catalog.rst
Labels: mast

#3306 MAINT: update skybot url, no upstream API change
  astroquery/imcce/__init__.py
  astroquery/imcce/core.py
Labels: Upstream, imcce
