Repository astropy/astroquery, pull requests merged in 2025-06, with the labels that each got.

#3337 MAINT: bumping minimum required pytest version and fixes coverage job
  astroquery/casda/tests/test_casda.py
  setup.cfg
  tox.ini
Labels: testing, infrastructure, no-changelog-entry-needed

#3320 GAIA: new simplified cross match method
  CHANGES.rst
  astroquery/esa/euclid/tests/test_euclidtap.py
  astroquery/gaia/core.py
  astroquery/gaia/tests/test_gaiatap.py
  astroquery/utils/tap/core.py
  astroquery/utils/tap/model/taptable.py
  astroquery/utils/tap/tests/test_tap.py
  docs/gaia/gaia.rst
Labels: gaia, utils.tap

#3313 Euclid: new method to retrieve scientific LE3 products
  CHANGES.rst
  astroquery/esa/euclid/__init__.py
  astroquery/esa/euclid/core.py
  astroquery/esa/euclid/tests/test_euclidtap.py
  docs/esa/euclid/euclid.rst
  docs/esa/euclid/table_values.csv
Labels: esa.euclid

#3319 Accept lists for MastMissions query criteria
  CHANGES.rst
  astroquery/mast/missions.py
  astroquery/mast/services.py
  astroquery/mast/tests/test_mast.py
  astroquery/mast/tests/test_mast_remote.py
  docs/mast/mast_missions.rst
Labels: mast

#3338 DOC: adding SIA1 note to IRSA docs
  docs/ipac/irsa/irsa.rst
Labels: Documentation, ipac.irsa, no-changelog-entry-needed

#3342 GAIA: new DR4 datalink retrieve type MEAN_SPECTRUM_RVS
  CHANGES.rst
  astroquery/gaia/__init__.py
  astroquery/gaia/core.py
Labels: gaia
