Repository astropy/astroquery, pull requests merged in 2025-05, with the labels that each got.

#3307 BUG: fixing parsing special object names for skybot
  CHANGES.rst
  astroquery/imcce/__init__.py
  astroquery/imcce/core.py
  astroquery/imcce/tests/data/skybot_query.dat
  astroquery/imcce/tests/data/skybot_query.vot
  astroquery/imcce/tests/setup_package.py
  astroquery/imcce/tests/test_skybot.py
  astroquery/imcce/tests/test_skybot_remote.py
  docs/imcce/imcce.rst
Labels: bug, imcce

#3311 MAINT: work around setuptools internals for 80.3
  ah_bootstrap.py
Labels: Upstream, cleanup, infrastructure

#3305 [SIMBAD] add async_job option in all queries
  CHANGES.rst
  astroquery/simbad/__init__.py
  astroquery/simbad/core.py
  astroquery/simbad/tests/test_simbad.py
  astroquery/simbad/tests/test_simbad_remote.py
  docs/simbad/query_tap.rst
  docs/simbad/simbad.rst
Labels: simbad

#3314 Enhancements for mast.Observations.get_cloud_uris()
  CHANGES.rst
  astroquery/mast/cloud.py
  astroquery/mast/observations.py
  astroquery/mast/tests/test_mast.py
  astroquery/mast/tests/test_mast_remote.py
  astroquery/mast/utils.py
  docs/mast/mast_obsquery.rst
Labels: mast

#3318 Added `get_query_payload` kwarg to skyview
  CHANGES.rst
  astroquery/skyview/core.py
  astroquery/skyview/tests/test_skyview.py
Labels: skyview

#3316 MAINT: Resolve warnings of Logger library
  astroquery/gaia/core.py
Labels: no-changelog-entry-needed, gaia
