Repository astropy/astroquery, pull requests merged in 2025-07, with the labels that each got.

#3371 GAIA: new datalink retrieve types for DR4
  CHANGES.rst
  astroquery/gaia/__init__.py
Labels: gaia

#3372 GAIA: Fix minor issue in PR #3371
  CHANGES.rst
  astroquery/gaia/__init__.py
  astroquery/gaia/core.py
Labels: no-changelog-entry-needed, gaia

#3356 URL Length check for locate_data
  CHANGES.rst
  astroquery/heasarc/core.py
Labels: bug, heasarc

#3378 DOC: adding note about cached query
  docs/ipac/irsa/irsa.rst
Labels: Documentation, ipac.irsa, no-changelog-entry-needed
